<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link href="../assets/css/reset.css" rel="stylesheet">
	<link href="../assets/css/fonts.css" rel="stylesheet">
	<link href="../assets/css/layout.css" rel="stylesheet">
	<link href="../assets/css/ui.nikeFront.css" rel="stylesheet">
</head>
<body>
<div id="app">
	<button type="button" class="btn-s-sm">btn-s</button>
	<button type="button" class="btn-s-black-sm">btn-s-black</button>
	<button type="button" class="btn-s-orage">btn-s-orage</button><br><br>
	<button type="button" class="btn-s-orage-lg">btn-s-orage</button><br><br>
	<button type="button" class="btn-form">댓글등록</button>

</div>
</body>
</html>
