<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link href="../../frontend/src/assets/css/reset.css" rel="stylesheet">
	<link href="../../frontend/src/assets/css/fonts.css" rel="stylesheet">
	<link href="../../frontend/src/assets/css/layout.css" rel="stylesheet">
	<link href="../../frontend/src/assets/css/ui.nikeFront.css" rel="stylesheet">
</head>
<body>
	<div id="app">
		<div id="wrap">
			<section class="login">
				<div class="login-box">
					<strong class="title">
						NIKE ND&P<br>
						DIGITAL PLATFORM
					</strong>
					<div class="form-box">
						<div class="input-box">
							<input type="text" placeholder="ID(E-MAIL)">
							<input type="password" placeholder="PW">
						</div>
						<button type="button" class="btn-s-lg-orage"><span>로그인</span></button>
					</div>
					<div class="bnt-box">
						<a href="#" class="txt-btn"><span>비밀번호 찾기</span></a>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>
</html>
