<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link href="../assets/css/reset.css" rel="stylesheet">
	<link href="../assets/css/fonts.css" rel="stylesheet">
	<link href="../assets/css/layout.css" rel="stylesheet">
	<link href="../assets/css/ui.nikeFront.css" rel="stylesheet">
</head>
<body>
<div id="app">
	<div id="wrap" class="main">
		<header>
			<h1 class="logo">
				<a href="#"><span>나이키</span></a>
			</h1>
		</header>
		<section class="container">
			<div class="contents">
				<a href="#" class="main-visual">
					<span class="thumbnail">
						<img src="http://placehold.it/360x360" alt="">
					</span>
					<strong class="title">FA20 YOU CAN’T STOP US</strong>
					<span class="desc">
						고무 힐 탭로고, 머드가드 그리고 올드스쿨 카세트 스타일의 에어유닛으로 미래지향적인 실루엣을 가진에어맥스가 3월 26일 런칭으로 새로운 그래픽자료가 업데이트되었습니다.
					</span>
				</a>
				<h2 class="main-title">RECENT UPDATE</h2>
				<div class="main-update-list">
					<div class="update-list-item">
						<a href="#">
							<span class="thumbnail">
								<img src="http://placehold.it/410X410" alt=""/>
							</span>
							<span class="info-box">
								<span class="label">
									ASSET
								</span>
								<span class="desc">SP20 나이키 다이렉트 SP20 나이키 다이렉트SP20 나이키 다이렉트SP20 나이키 다이렉트</span>
							</span>
						</a>
					</div>
					<div class="update-list-item">
						<a href="#">
							<span class="thumbnail">
								<img src="http://placehold.it/410X410" alt=""/>
							</span>
							<span class="info-box">
								<span class="label">
									ASSET
								</span>
								<span class="desc">SP20 나이키 다이렉트</span>
							</span>
						</a>
					</div>
					<div class="update-list-item">
						<a href="#">
							<span class="thumbnail">
								<img src="http://placehold.it/410X410" alt=""/>
							</span>
							<span class="info-box">
								<span class="label">
									ASSET
								</span>
								<span class="desc">SP20 나이키 다이렉트</span>
							</span>
						</a>
					</div>
					<div class="update-list-item">
						<a href="#">
							<span class="thumbnail">
								<img src="http://placehold.it/410X410" alt=""/>
							</span>
							<span class="info-box">
								<span class="label">
									ASSET
								</span>
								<span class="desc">SP20 나이키 다이렉트SP20 나이키 다이렉트SP20 나이키 다이렉트SP20 나이키 다이렉트</span>
							</span>
						</a>
					</div>
				</div>
				<h2 class="main-title">NOTICE</h2>
				<ul class="min-notice-list">
					<li>
						<a href="">
							<span class="label-noti">중요</span>
							<span class="title">NIKE 2020 PSKO 일정이 업데이트 되었습니다.</span>
							<span class="data">2020.06.17</span>
						</a>
					</li>
					<li>
						<a href="">
							<span class="label-noti">중요</span>
							<span class="title">NIKE 2020 PSKO 일정이 업데이트 되었습니다.</span>
							<span class="data">2020.06.17</span>
						</a>
					</li>
					<li>
						<a href="">
							<span class="label-noti">중요</span>
							<span class="title">NIKE 2020 PSKO 일정이 업데이트 되었습니다.</span>
							<span class="data">2020.06.17</span>
						</a>
					</li>
					<li>
						<a href="">
							<span class="title">NIKE 2020 PSKO 일정이 업데이트 되었습니다.</span>
							<span class="data">2020.06.17</span>
						</a>
					</li>
					<li>
						<a href="">
							<span class="title">NIKE 2020 PSKO 일정이 업데이트 되었습니다.</span>
							<span class="data">2020.06.17</span>
						</a>
					</li>
				</ul>
				<h2 class="main-title">CALENDAR</h2>
				<div>
					갤린더 영역
				</div>
				<h2 class="main-title">REPORT</h2>
				<ul class="main-report-list">
					<li class="report-list-item">
						<a href="#">
							<span class="thumbnail">
								<img src="http://placehold.it/410X410" alt="" />
							</span>
							<span class="info-box">
								<strong class="title">
									조던 서울조던
								</strong>
								<p class="desc">
									코리아 팀 스니커즈 컬렉션 코리아 팀 스니커즈 컬렉션코리아 팀
									스니커즈 컬렉션코리아 팀 스니커즈 컬렉션코리아 팀 스니커즈
									컬렉션
								</p>
							</span>
						</a>
					</li>
					<li class="report-list-item">
						<a href="#">
							<span class="thumbnail">
								<img src="http://placehold.it/410X410" alt="" />
							</span>
							<span class="info-box">
								<strong class="title">
									조던 서울조던
								</strong>
								<p class="desc">
									코리아 팀 스니커즈 컬렉션 코리아 팀 스니커즈 컬렉션코리아 팀
									스니커즈 컬렉션코리아 팀 스니커즈 컬렉션코리아 팀 스니커즈
									컬렉션
								</p>
							</span>
						</a>
					</li>
				</ul>
				<h2 class="main-title">NEWS</h2>
				<div class="main-news-list">
					<div class="news-list-item">
						<a href="#">
							<span class="thumbnail">
								<img src="http://placehold.it/410X410" alt="" />
							</span>
							<span class="info-box">
								<strong class="title">JORDAN SEOUL</strong>
								<p class="desc">조던 서울 오픈 포토 리캡</p>
								<span class="date">2020. 06. 17.</span>
							</span>
						</a>
					</div>
					<div class="news-list-item">
						<a href="#">
							<span class="thumbnail">
								<img src="http://placehold.it/410X410" alt="" />
							</span>
							<span class="info-box">
								<strong class="title">JORDAN SEOUL</strong>
								<p class="desc">조던 서울 오픈 포토 리캡</p>
								<span class="date">2020. 06. 17.</span>
							</span>
						</a>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<ul class="info-list">
				<li>
					<a href="#">
						<span>이용약관</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span>개인정보처리방침</span>
					</a>
				</li>
			</ul>
			<p class="copy">© 2020 Nike Korea LLC. All Rights Reserved.</p>
		</footer>
		<nav class="nav-area">
			<ul class="tab-bar">
				<li>
					<a href="#">
						<i class="icon-home"></i>
						<span>HOME</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-report"></i>
						<span>REPORT</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-my"></i>
						<span>MY</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-menu"></i>
						<span>MENU</span>
					</a>
				</li>
			</ul>
			<div class="aside-wrap">
				<div class="inner">
					<div class="user-info">
						<span class="store-name">홍대 SKNRS</span>
						<p class="store">WINWIN OFFICE</p>
						<a href="mailto:nike@win-win.co.kr" class="mail">nike@win-win.co.kr</a>
					</div>
					<ul class="menu-list">
						<li>
							<a href="#">
								<span>TOOLKT</span>
							</a>
							<ul class="depth">
								<li>
									<a href="#">vms</a>
								</li>
								<li>
									<a href="#">EKIN</a>
								</li>
								<li>
									<a href="#">SOCIAL</a>
								</li>
								<li>
									<a href="#">RB</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>FOUNDATION</span>
							</a>
							<ul class="depth">
								<li>
									<a href="#">vms</a>
								</li>
								<li>
									<a href="#">EKIN</a>
								</li>
								<li>
									<a href="#">DIGLTAL</a>
								</li>
								<li>
									<a href="#">RB</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>REPORT</span>
							</a>
							<ul class="depth">
								<li>
									<a href="#">
										<span>업로드</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>관리</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>INFORMATION</span>
							</a>
							<ul class="depth">
								<li>
									<a href="#">AGENCY CONTACT</a>
								</li>
								<li>
									<a href="#">CALENDAR</a>
								</li>
							</ul>
						</li>
					</ul>
					<button class="btn-close">닫기</button>
				</div>
			</div>
		</nav>
	</div>
</div>
</body>
</html>
