<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link href="../assets/css/reset.css" rel="stylesheet">
	<link href="../assets/css/fonts.css" rel="stylesheet">
	<link href="../assets/css/layout.css" rel="stylesheet">
	<link href="../assets/css/ui.nikeFront.css" rel="stylesheet">
</head>
<body>
<div id="app">
	<div id="wrap" class="main">
		<header class="page-header">
			<button type="button" class="btn-back">뒤로가기</button>
			<div class="inner">
				<div class="btn-box">
					<button type="button" class="btn-txt">삭제</button>
					<button type="button" class="btn-txt">수정</button>
				</div>
			</div>
		</header>
		<section class="container">
			<div class="contents">
				<div class="folder-wrap">
					<h2 class="folder-title">
						NIKE DIRECT AM90 NIKE DIRECT AM90 나이키 다이렉트 NSW
					</h2>
					<div class="inner">
						<p class="folder-desc">
							나이키 다이렉트 캠페인 자료와 동영상, 스타일가이드, 기타 그래픽자료가
							업데이트 되었습니다. SP20 나이키 다이렉트 NSW 캠페인 시공 에셋 자료가
							업데이트 되었습니다.
						</p>
						<span class="folder-date">2020.01.01 - 2020.01.03</span>
						<p class="folder-memo">[중요!!!] 2020.10.10까지 시공 완료  필요함!</p>
					</div>
				</div>

				<div class="feedback-wrap">
					<strong class="title">FEEDBACK</strong>
					<ul class="feedback-list">
						<li class="feedback-item">
							<p class="txt">일산 라페스타점 점장님, 시공보고서 확인완료 했습니다.</p>
							<div class="info">
								<span class="name">NIKE MKT 01</span>
								<span class="date">2020. 06. 04.</span>
							</div>
							<button type="button" class="del"><span>삭제</span></button>
						</li>
						<li class="feedback-item">
							<p class="txt">
								일 산 라페스타점 점장님, 시공보고서 확인완료 했습니다.산 라페스타점
								점장님, 시공보고서 확인완료 했습니다.산 라페스타점 점장님,
								시공보고서 확인완료 했습니다.산 라페스타점 점장님, 시공보고서
								확인완료 했습니다.산 라페스타점 점장님, 시공보고서 확인완료
								했습니다.산 라페스타점 점장님, 시공보고서 확인완료 했습니다.산
								라페스타점 점장님, 시공보고서 확인완료 했습니다.산 라페스타점
								점장님, 시공보고서 확인완료 했습니다.
							</p>
							<div class="info">
								<span class="name">NIKE MKT 01</span>
								<span class="date">2020. 06. 04.</span>
							</div>
							<button type="button" class="del"><span>삭제</span></button>
						</li>
					</ul>
					<!-- //todo el-ui 작업 -->
					<div class="textarea">
						<textarea></textarea>
						<button type="button" class="btn-form-gray">댓글등록</button>
					</div>
				</div>

				<ul class="sorting-list">
					<li class="active">
						<div><span>FILE</span></div>
					</li>
					<!-- 탭일시
					<li>
						<button type="button"><span>FILE</span></button>
					</li>
					 -->
				</ul>
				<ul class="file-item-list">
					<li class="file-item">
						<a href="#">
							<span class="thumbnail">
								<img src="../assets/images/svg/icon-illust-file-pdf.svg" alt="PDF" />
							</span>
							<span class="info-box">
								<strong class="title">SP20 NSW NIKE DIRECT AM90  SP20 NSW 나이키 다이렉트0.PDF</strong>
							</span>
						</a>
					</li>
					<li class="file-item">
						<a href="#">
							<span class="thumbnail">
								<img src="../assets/images/svg/icon-illust-file-mov.svg" alt="MOV" />
							</span>
							<span class="info-box">
								<strong class="title">SP20 NSW NIKE DIRECT AM90  SP20 NSW 나이키 다이렉트0.PDF</strong>
							</span>
						</a>
					</li>
					<li class="file-item">
						<a href="#">
							<span class="thumbnail">
								<img src="../assets/images/svg/icon-illust-file-etc.svg" alt="ETC" />
							</span>
							<span class="info-box">
								<strong class="title">SP20 NSW NIKE DIRECT AM90  SP20 NSW 나이키 다이렉트0.PDF</strong>
							</span>
						</a>
					</li>
					<li class="file-item">
						<a href="#">
							<span class="thumbnail">
								<img src="../assets/images/svg/icon-illust-file-ttf.svg" alt="TTF" />
							</span>
							<span class="info-box">
								<strong class="title">SP20 NSW NIKE DIRECT AM90  SP20 NSW 나이키 다이렉트0.PDF</strong>
							</span>
						</a>
					</li>
					<li class="file-item">
						<a href="#">
							<span class="thumbnail">
								<img src="../assets/images/svg/icon-illust-file-url.svg" alt="URL" />
							</span>
							<span class="info-box">
								<strong class="title">SP20 NSW NIKE DIRECT AM90  SP20 NSW 나이키 다이렉트0.PDF</strong>
							</span>
						</a>
					</li>
				</ul>
			</div>
		</section>
		<footer>
			<ul class="info-list">
				<li>
					<a href="#">
						<span>이용약관</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span>개인정보처리방침</span>
					</a>
				</li>
			</ul>
			<p class="copy">© 2020 Nike Korea LLC. All Rights Reserved.</p>
		</footer>
		<nav class="nav-area">
			<ul class="tab-bar">
				<li>
					<a href="#">
						<i class="icon-home"></i>
						<span>HOME</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-report"></i>
						<span>REPORT</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-my"></i>
						<span>MY</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-menu"></i>
						<span>MENU</span>
					</a>
				</li>
			</ul>
			<div class="aside-wrap">
				<div class="inner">
					<div class="user-info">
						<span class="store-name">홍대 SKNRS</span>
						<p class="store">WINWIN OFFICE</p>
						<a href="mailto:nike@win-win.co.kr" class="mail">nike@win-win.co.kr</a>
					</div>
					<ul class="menu-list">
						<li>
							<a href="#">
								<span>TOOLKT</span>
							</a>
							<ul class="depth">
								<li>
									<a href="#">vms</a>
								</li>
								<li>
									<a href="#">EKIN</a>
								</li>
								<li>
									<a href="#">SOCIAL</a>
								</li>
								<li>
									<a href="#">RB</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>FOUNDATION</span>
							</a>
							<ul class="depth">
								<li>
									<a href="#">vms</a>
								</li>
								<li>
									<a href="#">EKIN</a>
								</li>
								<li>
									<a href="#">DIGLTAL</a>
								</li>
								<li>
									<a href="#">RB</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>REPORT</span>
							</a>
							<ul class="depth">
								<li>
									<a href="#">
										<span>업로드</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>관리</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>INFORMATION</span>
							</a>
							<ul class="depth">
								<li>
									<a href="#">AGENCY CONTACT</a>
								</li>
								<li>
									<a href="#">CALENDAR</a>
								</li>
							</ul>
						</li>
					</ul>
					<button class="btn-close">닫기</button>
				</div>
			</div>
		</nav>
	</div>
</div>
</body>
</html>
