<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link href="../assets/css/reset.css" rel="stylesheet">
	<link href="../assets/css/fonts.css" rel="stylesheet">
	<link href="../assets/css/layout.css" rel="stylesheet">
	<link href="../assets/css/ui.nikeFront.css" rel="stylesheet">
</head>
<body>
<div id="app">
	<div id="wrap" class="main">
		<header>
			<h1 class="logo">
				<a href="#"><span>나이키</span></a>
			</h1>
		</header>
		<section class="container">
			<div class="contents">
				<div class="inner bg">
					<div class="info-agency-list">
						<strong class="title">HISWILL</strong>
						<p class="text">UX, 웹/모바일사이트, App, 광고 등 Full Service
							NIKE BY YOU 의류/신발 커스텀 물품
						</p>
						<div class="info-box">
							<p class="number">02-488-1985</p>
							<p class="email">hiswill@naver.com</p>
						</div>
					</div>
					<div class="info-agency-list">
						<strong class="title">COMPANY F</strong>
						<p class="text">NIKE KOREA 비품 관리 / 서비스 관리<br>
							부자재 운영 비품 / 스탭 비품 관리<br>
							나이키 교육 일정 관리 / 시스템 관리
						</p>
						<div class="info-box">
							<p class="number">02-488-1985</p>
							<p class="email">hiswill@naver.com</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<ul class="info-list">
				<li>
					<a href="#">
						<span>이용약관</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span>개인정보처리방침</span>
					</a>
				</li>
			</ul>
			<p class="copy">© 2020 Nike Korea LLC. All Rights Reserved.</p>
		</footer>
		<nav class="nav-area">
			<ul class="tab-bar">
				<li>
					<a href="#">
						<i class="icon-home"></i>
						<span>HOME</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-report"></i>
						<span>REPORT</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-my"></i>
						<span>MY</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-menu"></i>
						<span>MENU</span>
					</a>
				</li>
			</ul>
			<div class="aside-wrap">
				<div class="inner">
					<div class="user-info">
						<span class="store-name">홍대 SKNRS</span>
						<p class="store">WINWIN OFFICE</p>
						<a href="mailto:nike@win-win.co.kr" class="mail">nike@win-win.co.kr</a>
					</div>
					<ul class="menu-list">
						<li>
							<a href="#">
								<span>TOOLKT</span>
							</a>
							<ul class="depth">
								<li>
									<a href="#">vms</a>
								</li>
								<li>
									<a href="#">EKIN</a>
								</li>
								<li>
									<a href="#">SOCIAL</a>
								</li>
								<li>
									<a href="#">RB</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>FOUNDATION</span>
							</a>
							<ul class="depth">
								<li>
									<a href="#">vms</a>
								</li>
								<li>
									<a href="#">EKIN</a>
								</li>
								<li>
									<a href="#">DIGLTAL</a>
								</li>
								<li>
									<a href="#">RB</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>REPORT</span>
							</a>
							<ul class="depth">
								<li>
									<a href="#">
										<span>업로드</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>관리</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>INFORMATION</span>
							</a>
							<ul class="depth">
								<li>
									<a href="#">AGENCY CONTACT</a>
								</li>
								<li>
									<a href="#">CALENDAR</a>
								</li>
							</ul>
						</li>
					</ul>
					<button class="btn-close">닫기</button>
				</div>
			</div>
		</nav>
	</div>
</div>
</body>
</html>
