<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link href="../assets/css/reset.css" rel="stylesheet">
	<link href="../assets/css/fonts.css" rel="stylesheet">
	<link href="../assets/css/layout.css" rel="stylesheet">
	<link href="../assets/css/ui.nikeFront.css" rel="stylesheet">
</head>
<body>
<div id="app">
	<div id="wrap">
		<div class="my-main">
			<div class="user-info">
				<strong class="name">ADMIN</strong>
				<div class="store">store</div>
				<div class="email">email@email.com</div>
				<div class="btn-box">
					<button type="button" class="btn-out">나가기</button>
					<button type="button" class="btn-alarm">알람</button>
				</div>
			</div>
			<hr>
			<ul class="my-menu">
				<li>
					<strong class="title">HISTORY</strong>
					<ul>
						<li>
							<a href="#">내가 업로드한 폴더</a>
						</li>
						<li>
							<a href="#">최근 본 폴더</a>
						</li>
					</ul>
				</li>
				<li>
					<strong class="title">MY INFO</strong>
					<ul>
						<li>
							<a href="#">회원정보 조회</a>
						</li>
						<li>
							<a href="#">비밀번호 변경</a>
						</li>
					</ul>
				</li>
				<li>
					<strong class="title">CUSTOMER CENTER</strong>
					<ul>
						<li>
							<a href="#">공지사항</a>
						</li>
						<li>
							<a href="#">NEWS</a>
						</li>
						<li>
							<a href="#">자주 묻는 질문</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<nav class="nav-area">
			<ul class="tab-bar">
				<li>
					<a href="#">
						<i class="icon-home"></i>
						<span>HOME</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-report"></i>
						<span>REPORT</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-my"></i>
						<span>MY</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-menu"></i>
						<span>MENU</span>
					</a>
				</li>
			</ul>
			<div class="aside-wrap">
				<div class="inner">
					<div class="user-info">
						<span class="store-name">홍대 SKNRS</span>
						<p class="store">WINWIN OFFICE</p>
						<a href="mailto:nike@win-win.co.kr" class="mail">nike@win-win.co.kr</a>
					</div>
					<ul class="menu-list">
						<li>
							<a href="#">
								<span>TOOLKT</span>
							</a>
							<ul class="depth">
								<li>
									<a href="#">vms</a>
								</li>
								<li>
									<a href="#">EKIN</a>
								</li>
								<li>
									<a href="#">SOCIAL</a>
								</li>
								<li>
									<a href="#">RB</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>FOUNDATION</span>
							</a>
							<ul class="depth">
								<li>
									<a href="#">vms</a>
								</li>
								<li>
									<a href="#">EKIN</a>
								</li>
								<li>
									<a href="#">DIGLTAL</a>
								</li>
								<li>
									<a href="#">RB</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>REPORT</span>
							</a>
							<ul class="depth">
								<li>
									<a href="#">
										<span>업로드</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>관리</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>INFORMATION</span>
							</a>
							<ul class="depth">
								<li>
									<a href="#">AGENCY CONTACT</a>
								</li>
								<li>
									<a href="#">CALENDAR</a>
								</li>
							</ul>
						</li>
					</ul>
					<button class="btn-close">닫기</button>
				</div>
			</div>
		</nav>
	</div>
</div>
</body>
</html>
