<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NIKE</title>
    <link href="../../frontend/src/assets/css/reset.css" rel="stylesheet">
    <link href="../../frontend/src/assets/css/fonts.css" rel="stylesheet">
    <link href="../../frontend/src/assets/css/layout.css" rel="stylesheet">
    <link href="../../frontend/src/assets/css/ui.nikeFront.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <div id="wrap">
        <section id="container">
            <div class="contents">
                <div class="login-wrap">
               <div class="title">비밀번호 설정</div>
                <div class="bullet-list">
                    <p class="bullet-item">아이디와 비밀번호는 중복 불가합니다.</p>
                    <p class="bullet-item">비밀번호에는 간단한 패턴이나 공통 사전 단어(예: NIKE(나이키), JORDAN(조던) 등)를 포함할 수 없습니다.</p>
                    <p class="bullet-item">암호 재사용: 사용자는 자신이 사용한 마지막 6개의 비밀번호 중 어떤 것도 재사용할 수 없습니다.</p>
                </div>
                <div class="table-form">
                    <form action="" class="">
                        <fieldset>
                            <legend>비밀번호 설정</legend>
                            <div class="table-col">
                                <label for="change-pw1"><span class="tit"><span class="required">새 비밀번호</span></span><input type="password" id="change-pw1" class="pw" maxlength="16" placeholder="(8~16자/대소문자/숫자/특수문자 포함)"></label>
                                <label for="change-pw2"><span class="tit"><span class="required">새 비밀번호(확인)</span></span><input type="password" id="change-pw2" class="pw" maxlength="16" placeholder=""></label>
                            </div>
                            <div class="btn-area">
                                <button type="button" class="btn-s-black"><span>저장</span></button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            </div>
        </section>
        <footer></footer>
    </div>
</div>
</body>
</html>
