<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../../frontend/src/assets/css/reset.css" rel="stylesheet">
    <link href="../../frontend/src/assets/css/fonts.css" rel="stylesheet">
    <link href="../../frontend/src/assets/css/layout.css" rel="stylesheet">
    <link href="../../frontend/src/assets/css/ui.nikeFront.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <div id="wrap">
        <div id="login">
            <section>
                <h1 class="logo">
                    <a href="javascript:void(0)">
                        <img src="../../frontend/src/assets/images/logo_login.png" alt="" />
                    </a>
                </h1>
                <!--<div class="login-form">
                   <form action="" method="">
                     <fieldset>
                            <legend>NIKE ND&P SERVICE</legend>
                            <h2 class="title">
                                NIKE ND&P<br>DIGITAL PLATFORM
                            </h2>
                            <div class="input-group">
                                <label for="id"><input type="text" id="id" value="digitalplaform@nike.com" placeholder="ID" /></label>
                                <label for="pw"><input type="password" id="pw" value="111111111111" placeholder="PW" maxlength="12" /></label>
                            </div>
                            <button type="button" class="btn-login">
                                LOGIN
                            </button>
                            <a href="javascript:void(0)" class="pw-find">비밀번호 찾기</a>
                        </fieldset>
                    </form>
                </div>-->
                <!-- 로그인 : 이메일 인증 -->
                <!--<div class="login-form">
                    <form class="email-certification" action="" method="">
                        <fieldset>
                            <legend>NIKE ND&P SERVICE</legend>
                            <h2 class="title">
                                이메일 인증
                            </h2>
                            <p class="desc">인증메일이 발송되었습니다.<br />메일함을 확인하여 인증코드를 입력해주세요.</p>
                            <div class="input-group">
                                <label for="word1"></label>
                                <input type="text" maxlength="1" id="word1" value="" placeholder="" v-on:keypress="$event.target.nextElementSibling.focus()" v-on:keyup="changeBorderColor()" />
                                <label for="word2"></label>
                                <input type="text" maxlength="1" id="word2" value="" placeholder="" v-on:keypress="$event.target.nextElementSibling.focus()" v-on:keyup="changeBorderColor()" />
                                <label for="word3"></label>
                                <input type="text" maxlength="1" id="word3" value="" placeholder="" v-on:keypress="$event.target.nextElementSibling.focus()" v-on:keyup="changeBorderColor()" />
                                <label for="word4"></label>
                                <input type="text" maxlength="1" id="word4" value="" placeholder="" v-on:keypress="$event.target.nextElementSibling.focus()" v-on:keyup="changeBorderColor()" />
                                <label for="word5"></label>
                                <input type="text" maxlength="1" id="word5" value="" placeholder="" v-on:keypress="$event.target.nextElementSibling.focus()" v-on:keyup="changeBorderColor()" />
                                <label for="word6"></label>
                                <input type="text" maxlength="1" id="word6" value="" placeholder="" v-on:keypress="$event.target.nextElementSibling.focus()" v-on:keyup="changeBorderColor()" />
                                <label for="word7"></label>
                                <input type="text" maxlength="1" id="word7" value="" placeholder="" v-on:keypress="$event.target.nextElementSibling.focus()" v-on:keyup="changeBorderColor()" />
                                <label for="word8"></label>
                                <input type="text" maxlength="1" id="word8" value="" placeholder="" v-on:keypress="$event.target.nextElementSibling.focus()" v-on:keyup="changeBorderColor()" />
                            </div>
                            <button type="button" class="btn-login">
                                인증하기
                            </button>
                        </fieldset>
                    </form>
                </div>-->
                <!-- //로그인 : 이메일 인증 -->
                <!-- 로그인 : 비밀번호 찾기(P) -->
                <div class="login-form">
                    <form class="login-popup" action="" method="">
                        <fieldset>
                            <legend>NIKE ND&P SERVICE</legend>
                            <h2 class="title">
                                비밀번호 찾기
                            </h2>
                            <p class="desc">비밀번호 설정을 위한 ID(E-MAIL)을 입력해주세요.<br>입력하신 이메일로 비밀번호 설정을 위한 URL이 전송됩니다.</p>
                            <div class="input-group">
                                <label for="id2"><input type="text" id="id2" value="" placeholder="ID" /></label>
                            </div>
                            <button type="button" class="btn-login">
                                이메일 발송
                            </button>
                            <a href="#" class="close-pop">팝업 닫기</a>
                        </fieldset>
                    </form>
                </div>
                <!-- //로그인 : 비밀번호 찾기(P) -->
            </section>
        </div>
    </div>
</div>
</body>
</html>

