<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link href="../assets/css/reset.css" rel="stylesheet">
	<link href="../assets/css/fonts.css" rel="stylesheet">
	<link href="../assets/css/layout.css" rel="stylesheet">
	<link href="../assets/css/ui.nikeFront.css" rel="stylesheet">
</head>
<body>
<div id="app">
	<div id="wrap" class="main">
		<header class="page-header">
			<!--<button type="button" class="btn-back">뒤로가기</button>-->
			<div class="inner">
				<h1 class="page-title">REPORT</h1>
				<ul class="nav-tab">
					<li class="active">
						<button type="button"><span>업로드</span></button>
					</li>
					<li>
						<button type="button"><span>관리</span></button>
					</li>
				</ul>
			</div>
		</header>
		<section class="container">
			<div class="contents">
				<div class="sorting-area">
					<button type="button" class="type-list">
						<span>컬럼타입</span>
					</button>
					<!-- todo select 스크립트 작업 필요  -->
					<div class="filter-select">
						<select>
							<option value="최신순">최신순</option>
						</select>
					</div>
					<div class="filter-select">
						<select>
							<option value="전체그룹">전체그룹</option>
						</select>
					</div>
					<div class="search-input"> <!-- active 추가하면 검색 화면 보임 -->
						<input type="text" placeholder="검색어를 입력해주세요." />
						<button type="button" class="search"><span>검색</span></button>
						<button type="button" class="btn-txt"><span>취소</span></button>
					</div>
				</div>
				<ul class="folder-list-row">
					<li class="folder-list-item">
						<a href="#">
							<div class="thumbnail">
								<img src="http://placehold.it/410X600" alt="" />
							</div>
							<div class="info-box">
								<strong class="title">타이틀입니다 타이틀입니다 타이틀입니다 타이틀입니다타이틀입니다</strong>
								<p class="txt">FA20 RN NIKE DIRECT 시공 보고서 자료 </p>
								<p class="date">2020.00.00</p>
							</div>
							<div class="view-area">
								<span class="view">10,000</span>
							</div>
						</a>
					</li>
					<li class="folder-list-item">
						<a href="#">
							<div class="thumbnail">
								<img src="http://placehold.it/410X600" alt="" />
							</div>
							<div class="info-box">
								<strong class="title">타이틀입니다 타이틀입니다 타이틀입니다 타이틀입니다타이틀입니다</strong>
								<p class="txt">FA20 RN NIKE DIRECT 시공 보고서 자료 </p>
								<p class="date">2020.00.00</p>
							</div>
							<div class="view-area">
								<span class="view">10,000</span>
							</div>
						</a>
					</li>
					<li class="folder-list-item">
						<a href="#">
							<div class="thumbnail">
								<img src="http://placehold.it/410X600" alt="" />
							</div>
							<div class="info-box">
								<strong class="title">타이틀입니다 타이틀입니다 타이틀입니다 타이틀입니다타이틀입니다</strong>
								<p class="txt">FA20 RN NIKE DIRECT 시공 보고서 자료 </p>
								<p class="date">2020.00.00</p>
							</div>
							<div class="view-area">
								<span class="view">10,000</span>
							</div>
						</a>
					</li>
					<li class="folder-list-item">
						<a href="#">
							<div class="thumbnail">
								<img src="http://placehold.it/410X600" alt="" />
							</div>
							<div class="info-box">
								<strong class="title">타이틀입니다 타이틀입니다 타이틀입니다 타이틀입니다타이틀입니다</strong>
								<p class="txt">FA20 RN NIKE DIRECT 시공 보고서 자료 </p>
								<p class="date">2020.00.00</p>
							</div>
							<div class="view-area">
								<span class="view">10,000</span>
							</div>
						</a>
					</li>
					<li class="folder-list-item">
						<a href="#">
							<div class="thumbnail">
								<img src="http://placehold.it/410X600" alt="" />
							</div>
							<div class="info-box">
								<strong class="title">타이틀입니다 타이틀입니다 타이틀입니다 타이틀입니다타이틀입니다</strong>
								<p class="txt">FA20 RN NIKE DIRECT 시공 보고서 자료 </p>
								<p class="date">2020.00.00</p>
							</div>
							<div class="view-area">
								<span class="view">10,000</span>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</section>
		<footer>
			<ul class="info-list">
				<li>
					<a href="#">
						<span>이용약관</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span>개인정보처리방침</span>
					</a>
				</li>
			</ul>
			<p class="copy">© 2020 Nike Korea LLC. All Rights Reserved.</p>
		</footer>
		<nav class="nav-area">
			<ul class="tab-bar">
				<li>
					<a href="#">
						<i class="icon-home"></i>
						<span>HOME</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-report"></i>
						<span>REPORT</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-my"></i>
						<span>MY</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-menu"></i>
						<span>MENU</span>
					</a>
				</li>
			</ul>
			<div class="aside-wrap">
				<div class="inner">
					<div class="user-info">
						<span class="store-name">홍대 SKNRS</span>
						<p class="store">WINWIN OFFICE</p>
						<a href="mailto:nike@win-win.co.kr" class="mail">nike@win-win.co.kr</a>
					</div>
					<ul class="menu-list">
						<li>
							<a href="#">
								<span>TOOLKT</span>
							</a>
							<ul class="depth">
								<li>
									<a href="#">vms</a>
								</li>
								<li>
									<a href="#">EKIN</a>
								</li>
								<li>
									<a href="#">SOCIAL</a>
								</li>
								<li>
									<a href="#">RB</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>FOUNDATION</span>
							</a>
							<ul class="depth">
								<li>
									<a href="#">vms</a>
								</li>
								<li>
									<a href="#">EKIN</a>
								</li>
								<li>
									<a href="#">DIGLTAL</a>
								</li>
								<li>
									<a href="#">RB</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>REPORT</span>
							</a>
							<ul class="depth">
								<li>
									<a href="#">
										<span>업로드</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>관리</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>INFORMATION</span>
							</a>
							<ul class="depth">
								<li>
									<a href="#">AGENCY CONTACT</a>
								</li>
								<li>
									<a href="#">CALENDAR</a>
								</li>
							</ul>
						</li>
					</ul>
					<button class="btn-close">닫기</button>
				</div>
			</div>
		</nav>
	</div>
</div>
</body>
</html>
