<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link href="../assets/css/reset.css" rel="stylesheet">
	<link href="../assets/css/fonts.css" rel="stylesheet">
	<link href="../assets/css/layout.css" rel="stylesheet">
	<link href="../assets/css/ui.nikeFront.css" rel="stylesheet">
</head>
<body>
<div id="app">
	<div id="wrap">
		<header class="page-header">
			<button type="button" class="btn-back">뒤로가기</button>
			<div class="inner">
				<h1 class="page-title">CUSTOMER CENTER</h1>
				<ul class="nav-tab">
					<li>
						<button type="button"><span>공지사항</span></button>
					</li>
					<li>
						<button type="button"><span>NEWS</span></button>
					</li>
					<li class="active">
						<button type="button"><span>자주 묻는 질문</span></button>
					</li>
				</ul>
			</div>
		</header>
		<section class="contents">
			<!-- //todo swiper-->
			<ul class="sorting-tab">
				<li class="active">
					<a href="">ALL</a>
				</li>
				<li>
					<a href="">ASSET, TOOLKIT,<br>
						FOUNDATION </a>
				</li>
				<li>
					<a href="">부자재 주문</a>
				</li>
				<li>
					<a href="">시공 보고서</a>
				</li>
			</ul>
			<ul class="faq-list">
				<li>
					<a href="#" class="sbj">
						<span class="category">[<em>ASSET, TOOLKIT, FOUNDATION</em>]</span>
						<span class="title">TOOLKIT 목록(썸네일/리스트형), 상세에서 이미지와 텍스트가 중간중간 안보이는데 어떻게 해야나요?</span>
						<i class="arrow"></i>
					</a>
					<div class="cont">
						'마이페이지 > 비밀번호 변경 클릭'를 클릭하시면 비밀번호를 재설정 하실 수
						있습니다.<br /><br />
						<strong class="fc-orage">마이페이지 > 비밀번호 변경 클릭</strong><br /><br />
						※ 패스워드는 회원님의 안전한 정보보호를 위해 비밀번호를 주기적으로
						변경할 것을 권장해 드립니다.<br />
						※ 알기 쉬운 패턴에 비밀번호나 자주 쓰는 사이트의 비밀번호와 같으면
						도용될 수 있으니 주의해 주세요.
					</div>
				</li>
				<li class="active">
					<a href="#" class="sbj">
						<span class="category">[<em>ASSET, TOOLKIT, FOUNDATION</em>]</span>
						<span class="title">TOOLKIT 목록(썸네일/리스트형), 상세에서 이미지와 텍스트가 중간중간 안보이는데 어떻게 해야나요?</span>
						<i class="arrow"></i>
					</a>
					<div class="cont">
						'마이페이지 > 비밀번호 변경 클릭'를 클릭하시면 비밀번호를 재설정 하실 수
						있습니다.<br /><br />
						<strong class="fc-orage">마이페이지 > 비밀번호 변경 클릭</strong><br /><br />
						※ 패스워드는 회원님의 안전한 정보보호를 위해 비밀번호를 주기적으로
						변경할 것을 권장해 드립니다.<br />
						※ 알기 쉬운 패턴에 비밀번호나 자주 쓰는 사이트의 비밀번호와 같으면
						도용될 수 있으니 주의해 주세요.
					</div>
				</li>
			</ul>
		</section>
		<footer>
			<ul class="info-list">
				<li>
					<a href="#">
						<span>이용약관</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span>개인정보처리방침</span>
					</a>
				</li>
			</ul>
			<p class="copy">© 2020 Nike Korea LLC. All Rights Reserved.</p>
		</footer>
		<nav class="nav-area">
			<ul class="tab-bar">
				<li>
					<a href="#">
						<i class="icon-home"></i>
						<span>HOME</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-report"></i>
						<span>REPORT</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-my"></i>
						<span>MY</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-menu"></i>
						<span>MENU</span>
					</a>
				</li>
			</ul>
			<div class="aside-wrap">
				<div class="inner">
					<div class="user-info">
						<span class="store-name">홍대 SKNRS</span>
						<p class="store">WINWIN OFFICE</p>
						<a href="mailto:nike@win-win.co.kr" class="mail">nike@win-win.co.kr</a>
					</div>
					<ul class="menu-list">
						<li>
							<a href="#">
								<span>TOOLKT</span>
							</a>
							<ul class="depth">
								<li>
									<a href="#">vms</a>
								</li>
								<li>
									<a href="#">EKIN</a>
								</li>
								<li>
									<a href="#">SOCIAL</a>
								</li>
								<li>
									<a href="#">RB</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>FOUNDATION</span>
							</a>
							<ul class="depth">
								<li>
									<a href="#">vms</a>
								</li>
								<li>
									<a href="#">EKIN</a>
								</li>
								<li>
									<a href="#">DIGLTAL</a>
								</li>
								<li>
									<a href="#">RB</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>REPORT</span>
							</a>
							<ul class="depth">
								<li>
									<a href="#">
										<span>업로드</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>관리</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>INFORMATION</span>
							</a>
							<ul class="depth">
								<li>
									<a href="#">AGENCY CONTACT</a>
								</li>
								<li>
									<a href="#">CALENDAR</a>
								</li>
							</ul>
						</li>
					</ul>
					<button class="btn-close">닫기</button>
				</div>
			</div>
		</nav>
	</div>
</div>
</body>
</html>
