<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link href="../assets/css/reset.css" rel="stylesheet">
	<link href="../assets/css/fonts.css" rel="stylesheet">
	<link href="../assets/css/layout.css" rel="stylesheet">
	<link href="../assets/css/ui.nikeFront.css" rel="stylesheet">
</head>
<body>
<div id="app">
	<div id="wrap" class="error-wrap">
		<div class="error-box">
			<i class="icon-error"></i>
			<strong class="title">요청하신 페이지를 찾을 수 없습니다.</strong>
			<p class="desc">
				요청하신 페이지는 제거되었거나 이름이 변경되어<br />사용할 수 없습니다.
				입력하신 페이지의 주소가 정확한지<br />다시 한번 확인해 주세요.
			</p>
			<div class="btn-area">
				<button type="button" class="btn-s-black"><span class="bebas">HOME</span></button>
			</div>
		</div>
	</div>
</div>
</body>
</html>
