@charset "UTF-8";

/* btn */
.btn-area {
  margin-top: 20px;
  text-align: center;
}
[class^="btn-txt"] {
  display: inline-flex;
  box-sizing: border-box;
  padding: 0 15px;
  font-size: 14px;
  color: #888;
  font-weight: bold;
  align-items: center;
}
[class^="btn-s"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 100px;
  height: 40px;
  padding: 0 16px;
  border: 1px solid #000;
  border-radius: 0;
  font-size: 12px;
  font-weight: bold;
  background: #fff;
  color: #000;
}
[class^="btn-"][class*="-black"] {
  border-color: #000;
  background: #000;
  color: #fff;
}

/* folder-list-item */
.folder-list-item a {
  display: block;
}
.folder-list-item .thumbnail {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  background: #f7f7f7;
}
.folder-list-item .thumbnail img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100%;
  transform: translate(-50%, -50%);
}
.folder-list-item a .title {
  display: block;
  margin-top: 10px;
  line-height: 20px;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.folder-list-item a .txt {
  display: block;
  margin-top: 4px;
  line-height: 19px;
  font-size: 13px;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.folder-list-item a .date {
  display: block;
  margin-top: 8px;
  line-height: 14px;
  font-size: 12px;
  color: #888;
}
.folder-list-item .view-area {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  padding-top: 100%;
}
.folder-list-item .view-area .view {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px 0 32px;
  height: 24px;
  line-height: 24px;
  background: rgba(0, 0, 0, 0.4);
  font-size: 10px;
  letter-spacing: 0;
  color: #fff;
}
.folder-list-item .view-area .view:before {
  position: absolute;
  top: 50%;
  left: 10px;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background: url(../images/svg/icon-view-small-w.svg) no-repeat center;
}
.folder-list {
  display: flex;
  margin: 10px -20px 0;
  flex-wrap: wrap;
}
.folder-list li {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc((100% - 10px) / 2);
}
.folder-list li:nth-child(2n) {
  margin-left: 10px;
}
.folder-list li:nth-child(n + 3) {
  margin-top: 30px;
}
.folder-list li .info-box {
  padding: 0 10px;
  overflow: hidden;
}
.folder-list-row {
  margin-top: -10px;
}
.folder-list-row li {
  border-bottom: 1px solid #eee;
}
.folder-list-row li a {
  position: relative;
  display: flex;
  padding: 20px 0;
}
.folder-list-row li .thumbnail {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 80px;
  width: 80px;
  padding-top: 80px;
}
.folder-list-row li .info-box {
  margin-left: 15px;
}
.folder-list-row li .info-box .title {
  margin-top: 9px;
}
.folder-list-row li .info-box .txt {
  -webkit-line-clamp: 1; /* 라인수 */
}
.folder-list-row li .view-area {
  top: 20px;
  width: 80px;
  padding-top: 80px;
}
.folder-list-row li .view-area .view {
  height: 20px;
  line-height: 20px;
  padding-left: 25px;
}
.folder-list-row li .view-area .view:before {
  left: 5px;
}
.feedback-wrap {
  margin-top: 46px;
}
.feedback-wrap .title {
  display: block;
  font-size: 20px;
  font-family: "Bebas Neue", "Noto Sans KR", sans-serif;
  font-weight: normal;
  letter-spacing: 0.5px;
  color: #000;
  line-height: 24px;
}
.feedback-list {
  margin-top: 9px;
  border-top: 1px solid #000;
}
.feedback-item {
  position: relative;
  padding: 44px 0 20px;
}
.feedback-item + .feedback-item {
  border-top: 1px solid #eee;
}
.feedback-item .txt {
  display: block;
  font-size: 14px;
  color: #000;
  line-height: 20px;
}
.feedback-item .info {
  position: absolute;
  top: 20px;
  left: 0;
}
.feedback-item .info .name {
  display: inline-flex;
  line-height: 14px;
  font-size: 12px;
  color: #888;
}
.feedback-item .info .date {
  position: relative;
  display: inline-flex;
  margin-left: 10px;
  padding-left: 10px;
  line-height: 14px;
  font-size: 12px;
  color: #888;
}
.feedback-item .info .date:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 1px;
  height: 10px;
  margin-top: -5px;
  background: #d8d8d8;
}
.feedback-item .del {
  position: absolute;
  top: 8px;
  right: 0;
  display: block;
  width: 36px;
  height: 36px;
  background: url("../images/svg/icon-delete-on.svg") no-repeat center;
  text-indent: -999px;
  overflow: hidden;
}
.sorting-area {
  position: relative;
  display: flex;
  height: 50px;
  margin-top: 10px;
  align-items: center;
}
.sorting-area [class^="type-list"] {
  width: 36px;
  height: 36px;
  background: url(../images/svg/icon-filter-list-off.svg);
  text-indent: -9999px;
  overflow: hidden;
}
.sorting-area .search-input {
  position: relative;
  width: 36px;
  height: 36px;
  margin-left: auto;
}
.sorting-area .search-input input {
  flex: 1 1 auto;
  display: none;
  height: 36px;
  border-radius: 18px;
  border-color: #f7f7f7;
  background: #f7f7f7;
  padding-left: 51px;
}
.sorting-area .search-input .search {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 36px;
  height: 36px;
  background: url("../images/svg/icon-search.svg") no-repeat center;
  transform: translateY(-50%);
  text-indent: -999px;
  overflow: hidden;
}

.sorting-area .search-input [class^="btn-txt"] {
  display: none;
  flex: 0 0 60px;
}
.sorting-area .search-input.active {
  position: absolute;
  top: 0;
  right: -20px;
  display: flex;
  width: calc(100% + 20px);
  height: 50px;
  align-items: center;
}
.sorting-area .search-input.active input {
  display: block;
}
.sorting-area .search-input.active [class^="btn-txt"] {
  display: block;
}
/* folder */
.folder-title {
  display: block;
  margin-top: 10px;
  font-size: 28px;
  line-height: 38px;
  color: #000;
  font-weight: bold;
  word-break: keep-all;
}
.folder-desc {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  line-height: 20px;
}
.folder-date {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: #888;
  line-height: 14px;
}
.noti-box {
  margin: 30px -20px 0;
  padding: 15px 20px;
  background: #f7f7f7;
}
.noti-item {
  position: relative;
  display: block;
  padding-left: 25px;
  line-height: 18px;
  font-size: 12px;
  color: #f20000;
  font-weight: bold;
  word-break: keep-all;
}
.noti-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../images/svg/icon-view-alret.svg") no-repeat center;
}
.noti-item + .noti-item {
  margin-top: 6px;
}
.folder-memo {
  display: block;
  margin-top: 20px;
  font-size: 12px;
  color: #888;
  line-height: 18px;
}
.sorting-list {
  display: flex;
  margin: 40px 0 0 0;
  border-bottom: 1px solid #ddd;
}
.sorting-list li:first-child {
  margin-left: -15px;
}
.sorting-list li button,
.sorting-list li div {
  position: relative;
  display: block;
  padding: 0 15px;
}
.sorting-list li button span,
.sorting-list li div span {
  position: relative;
  display: inline-block;
  padding: 6px 0 15px;
  line-height: 20px;
  font-size: 20px;
  color: #ccc;
  font-weight: 500;
  font-family: "Bebas Neue", "Noto Sans KR", sans-serif;
  letter-spacing: 0;
}
.sorting-list li.active button span,
.sorting-list li.active div span {
  color: #000;
}
.sorting-list li.active button span:after,
.sorting-list li.active div span:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  transform: translateX(-50%);
}

/* file-item */
.file-item + .file-item {
  border-top: 1px solid #eee;
}
.file-item a {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.file-item .thumbnail {
  display: block;
  flex: 0 0 80px;
  height: 80px;
  overflow: hidden;
}
.file-item .thumbnail img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}
.file-item .info-box {
  margin-left: 15px;
}
.file-item .info-box .title {
  display: block;
  line-height: 20px;
  font-size: 14px;
  color: #000;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
/* Info > AGENCY */
.inner.bg {
  margin: 0 -20px -50px;
  padding: 20px 20px 50px;
  background-color: #f7f7f7;
}
.info-agency-list {
  position: relative;
  min-height: 224px;
  padding: 16px 20px 98px;
  background-color: #fff;
  box-sizing: border-box;
}
.info-agency-list + .info-agency-list {
  margin-top: 20px;
}
.info-agency-list .title {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0;
  color: #333;
}
.info-agency-list .text {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #eee;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #333;
}
.info-agency-list .info-box {
  position: absolute;
  bottom: 22px;
  left: 20px;
  font-size: 13px;
  color: #555;
}
.info-agency-list .info-box .info-txt {
  display: block;
  padding-left: 25px;
  background: no-repeat center left;
  line-height: 15px;
  text-decoration: underline;
}
.info-agency-list .info-box .info-txt + .info-txt {
  margin-top: 8px;
}
.info-agency-list .info-box .info-txt.tel {
  background-image: url(../images/svg/icon-phone.svg);
}
.info-agency-list .info-box .info-txt.mail {
  background-image: url(../images/svg/icon-mail.svg);
}

/* Mypage > 공지사항 > 상세 */
.detail-view .title-box {
  margin-top: 10px;
}
.detail-view .title-box .title {
  display: block;
  font-size: 28px;
  line-height: 38px;
  color: #000;
  word-break: keep-all;
}
.detail-view .title-box .date {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
  color: #888;
}
.detail-cont {
  margin-top: 30px;
  padding: 30px 0;
  border-top: 2px solid #555;
  border-bottom: 1px solid #ccc;
  line-height: 20px;
  letter-spacing: -0.5px;
  word-break: keep-all;
  color: #333;
}
/* NEWS > 목록 */
.news-list {
  margin: 10px -20px 0;
}
.news-list .news-list-item .thumbnail {
  padding-top: 46.66%;
}
.news-list .news-list-item + .news-list-item {
  margin-top: 30px;
}
.news-list .news-list-item {
  flex: none;
}
.news-list .info-box .title {
  line-height: 20px;
  letter-spacing: -0.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.news-list .info-box .date {
  display: block;
  margin-top: 7px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0;
  color: #888;
}
