<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>NIKE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin:0;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="max-width:650px; margin:0 auto; padding:40px 0 0;  border-collapse:collapse; font-size:14px; font-family:'Noto Sans KR',Sans-serif; background-color: #fff;text-align:center;  color:#000;" >
    <tbody>
    <tr>
        <td style="padding:42px 50px 0">
            <table style="width:100%; border-collapse:collapse; font-size:14px;" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td align="left">
                        <p style="font-weight:bold; font-size:14px; margin:0;">NIKE D&P PLATFORM</p>
                    </td>
                    <td align="right">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="18" viewBox="0 0 100 36">
                                <defs>
                                    <filter id="prefix__a" width="100%" height="100%" x="0%" y="0%" filterUnits="objectBoundingBox">
                                        <feGaussianBlur in="SourceGraphic"/>
                                    </filter>
                                </defs>
                                <path fill-rule="evenodd" d="M11.833 34.986c-2.926-.117-5.32-.917-7.192-2.404-.357-.284-1.209-1.136-1.494-1.495-.76-.955-1.275-1.884-1.62-2.914C.468 25 1.013 20.837 3.087 16.268 4.862 12.356 7.6 8.476 12.38 3.103 13.084 2.313 15.18 0 15.194 0c.005 0-.11.198-.253.439-1.243 2.081-2.306 4.533-2.885 6.655-.93 3.406-.818 6.328.328 8.595.792 1.561 2.148 2.913 3.673 3.66 2.67 1.31 6.58 1.417 11.353.318.33-.077 16.616-4.4 36.194-9.608C83.182 4.849 99.204.59 99.206.595c.005.004-45.485 19.47-69.1 29.569-3.74 1.598-4.74 2.002-6.498 2.62-4.495 1.578-8.52 2.331-11.775 2.202" filter="url(#prefix__a)"/>
                            </svg>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="font-size:0; padding-top:20px;">
            <span style="display:inline-block; width:550px; height:2px; background-color:#000;"></span>
        </td>
    </tr>
    <tr>
        <td align="left" class="title" style="font-family:sans-serif; padding:40px 50px 25px; font-size:30px; letter-spacing:-0.5px; color:#000">
            <strong style="width:100%; margin:0;">계정 생성 안내</strong>
        </td>
    </tr>
    <tr>
        <td align="left" class="text-area" style="font-family:sans-serif; padding:0 50px; letter-spacing:-0.5px;">
            <p style="margin:0">
                <strong style="line-height:24px; ">NIKE 명동점</strong>님<br><strong>NIKE D&P PLATFORM</strong>의 계정이 생성되었음을 알려드립니다.
            </p>
        </td>
    </tr>
    <tr>
        <td style="padding-top:40px;">
            <table style="margin:0 auto; border-collapse:collapse; border:1px solid #ddd; font-size:14px;" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td align="center" style="margin:0; width: 120px;height: 45px; border-right: 1px solid #ddd; background-color: #f7f7f7; color: #888; letter-spacing:-0.5px;">ID(E-MAIL)</td>
                    <td align="left" style="margin:0; width:430px;height: 45px; font-weight:bold; color:#fa5400; text-decoration:none; text-indent:25px">day6jae@naver.com</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" style="padding:15px 0 0 50px; letter-spacing:-0.5px;">
            <p style="margin:0;font-size:12px; color:#888; letter-spacing:-0.5px;">
                해당 아이디로 <strong style="color:#888;">‘NIKE D&P PLATFORM의 로그인 &gt; 비밀번호찾기’</strong>를 통해 비밀번호 설정 후 사이트 이용이<br>가능합니다.
            </p>
        </td>
    </tr>
    <tr>
        <td align="left" style="padding:35px 0 0 50px">
            <table style="border-collapse:collapse;">
                <tbody>
                <tr>
                    <td align="center" style="width:220px; padding:0; background:#000; font-weight:bold; font-size:12px; text-align:center; ">
                        <a href="#" style="display:block; height:100%; line-height:40px; color:#fff; font-size:12px; text-align:center; letter-spacing:-0.5px;  text-decoration:none !important;">NIKE D&P PLATFORM 바로가기</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" style="padding-top:50px;">
            <p style="margin:0; padding:21px 0 21px 50px; font-size:12px; background-color:#f7f7f7; color:#888; letter-spacing:-0.5px;">
                ※ 본 메일은 발신전용으로 회신이 되지 않습니다.
            </p>
        </td>
    </tr>

    </tbody>
</table>
</body>
</html>