<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>NIKE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin:0;">
<div style="overflow: hidden; padding: 70px 0; background-color:#eee;">
    <div style="width:650px; max-width:650px; margin:0 auto;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="width:100%; margin:0; padding:0 !important;  border-collapse:collapse; font-size:14px; font-family:'Noto Sans KR', 'Malgun Gothic', Arial, Sans-serif; background-color: #fff;text-align:center; color:#000; box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.05);">
            <tbody>
            <tr>
                <td style="padding:42px 50px 0">
                    <table style="width:100%; border-collapse:collapse; font-size:14px;" cellspacing="0" cellpadding="0">
                        <tbody>
                        <!-- 2020-09-16 로고 수정 -->
                        <tr>
                            <td align="left">
                                <a href="#" style="vertical-align: top;">
                                    <img style="vertical-align: top;" src="./images/img-main-logo.png" alt="NIKE SPACE">
                                </a>
                            </td>
                        </tr>
                        <!-- //2020-09-16 로고 수정 -->
                        </tbody>
                    </table>
                </td>
            </tr>

            <!-- 2020-09-10 수정 -->
            <tr>
                <td height="10" style="margin:0; padding:0;"></td>
            </tr>
            <tr>
                <td style="margin:0; padding:0; display:inline-block; width:84.6%; height:2px; vertical-align:top; background-color:#000;"></td>
            </tr>
            <!-- //2020-09-10 수정 -->

            <tr>
                <td align="left" class="title" style="font-family:'Noto Sans KR', 'Malgun Gothic', Arial, Sans-serif; padding:40px 50px 25px; font-size:30px; letter-spacing:-0.5px; color:#000">
                    <strong style="width:100%; margin:0;">비밀번호 변경 안내</strong>
                </td>
            </tr>
            <tr>
                <td align="left" class="text-area" style="font-family:'Noto Sans KR', 'Malgun Gothic', Arial, Sans-serif; padding:0 50px; letter-spacing:-0.5px;">
                    <p style="margin:0">
                        <strong style="line-height:24px; ">NIKE 명동점</strong>님<br><br>
                        NIKE SPACE는 90일 주기로 비밀번호 변경 정책을 시행하고 있으며,<br>
                        일정 기간 비밀번호를 변경하지 않은 회원에게 비밀번호 변경안내를 드리고 있습니다.<br><br>

                        회원님의 개인정보보호를 위하여 ‘MY PAGE     비밀번호 변경’ 을 통하여 비밀번호를<br>
                        변경 해주시기 바랍니다.
                    </p>
                </td>
            </tr>
            <tr>
                <td style="padding: 40px 50px 0 50px;">
                    <div style=" margin:0; padding:0;border-bottom:1px solid #eee;">
                    </div>
                </td>
            </tr>
            <tr>
                <td align="left" style="padding:20px 50px 0 50px; letter-spacing:-0.5px;">
                    <p style="margin:0; margin-left:7px; font-size:12px; color:#888; line-height: 20px; letter-spacing:-0.5px;">
                        <span style="display:inline-block; width:2px; height:2px; margin-bottom:3px; margin-left:-7px;  border-radius:50%; background-color:#888; vertical-align:middle"></span>
                        해당 아이디로 개인정보보호를 위해 비밀번호는 정기적으로 변경하여 사용하는 것이 좋습니다.
                    </p>
                    <p style="margin:0; margin-left:7px; font-size:12px; color:#888; line-height: 20px; letter-spacing:-0.5px; margin-top:3px;">
                        <span style="display:inline-block; width:2px; height:2px; margin-bottom:2px; margin-left:-7px; border-radius:50%; background-color:#888; vertical-align:middle"></span>
                        비밀번호를 변경하지 않을 경우 NIKE SPACE 접속이 불가능합니다.
                    </p>
                </td>
            </tr>
            <tr>
                <td height="40" style="margin:0; padding:0;"></td>
            </tr>
            <tr>
                <td align="left" style="margin:0; padding:0 0 0 50px">
                    <table style="border-collapse:collapse; text-align:center; background:#000; font-family:'Noto Sans KR', 'Malgun Gothic', Arial, Sans-serif;">
                        <tbody>
                        <!-- 2020-09-16 버튼 수정 -->
                        <tr>
                            <td align="center" style="width:175px; margin:0; padding:12px 0; background:#000; color:#fff; font-weight:bold; font-size:12px; text-align:center; vertical-align: top; font-family:'Noto Sans KR', 'Malgun Gothic', Arial, Sans-serif;">
                                <a href="http://www.naver.com" style="padding:0; background:#000; color:#fff; font-size:12px; text-align:center; letter-spacing:-0.5px; border:none; text-decoration:none !important;">NIKE SPACE</a>
                            </td>
                        </tr>
                        <!-- //2020-09-16 버튼 수정 -->
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="left" style="padding-top:50px;">
                    <p style="margin:0; padding:21px 0 21px 50px; font-size:12px; background-color:#f7f7f7; color:#888; letter-spacing:-0.5px;">
                        ※ 본 메일은 발신전용으로 회신이 되지 않습니다.
                    </p>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>
