<!DOCTYPE html>
<html lang="ko" >
<head>
    <meta charset="UTF-8">
    <title>NIKE</title>
    <meta name="viewport"  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi, minimal-ui">
</head>
<body style="margin:0;">
    <div style="overflow: hidden; padding: 70px 0; background-color:#eee;">
        <div style="width:650px; max-width:650px; margin:0 auto;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="width:100%; margin:0; padding:0 !important;  border-collapse:collapse; font-size:14px; font-family:'Noto Sans KR', 'Malgun Gothic', Arial, Sans-serif; background-color: #fff;text-align:center; color:#000; box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.05);">
                <tbody>
                    <tr>
                        <td style="padding:42px 50px 0">
                            <table style="width:100%; border-collapse:collapse; font-size:14px;" cellspacing="0" cellpadding="0">
                                <tbody>
                                <!-- 2020-09-16 로고 수정 -->
                                <tr>
                                    <td align="left">
                                        <a href="#" style="vertical-align: top;">
                                            <img style="vertical-align: top;" src="./images/img-main-logo.png" alt="NIKE SPACE">
                                        </a>
                                    </td>
                                </tr>
                                <!-- //2020-09-16 로고 수정 -->
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    <!-- 2020-09-10 수정 -->
                    <tr>
                        <td height="10" style="margin:0; padding:0;"></td>
                    </tr>
                    <tr>
                        <td style="margin:0; padding:0; display:inline-block; width:84.6%; height:2px; vertical-align:top; background-color:#000;"></td>
                    </tr>
                    <!-- //2020-09-10 수정 -->
                    
                    <tr>
                        <td align="left" class="title" style="font-family:'Noto Sans KR', 'Malgun Gothic', Arial, Sans-serif; padding:40px 50px 25px; font-size:30px; letter-spacing:-2px; color:#000">
                            <strong style="width:100%; margin:0;">휴면계정 처리 안내</strong>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" class="text-area" style="font-family:'Noto Sans KR', 'Malgun Gothic', Arial, Sans-serif; padding:0 50px; letter-spacing:-0.5px;">
                            <p style="margin:0; line-height:22px;">
                                <strong>NIKE 명동점</strong>님<br><br>
                                장기간 로그인 이력이 없어, 휴면상태로 전환되었습니다.<br>
                                3개월 이내 로그인 시 휴면해제가 가능합니다.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 40px 50px 0 50px;">
                            <table style="margin:0 auto; border-collapse:collapse; border:1px solid #ddd; font-size:14px;" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td align="center" style="margin:0; width: 120px; height:45px; border-top: 1px solid #ddd; border-right: 1px solid #ddd; background-color: #f7f7f7; color: #888; letter-spacing:-0.5px;">적용 시점</td>
                                        <td align="left" style="margin:0; width:430px; height:45px; border-top: 1px solid #ddd;color:#000; letter-spacing:-0.5px; text-decoration:none; text-indent:25px">2020년 7월 18일</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding:15px 50px 0 50px; letter-spacing:-0.5px;">
                            <p style="margin:0; margin-left:7px; font-size:12px; color:#888; line-height:20px; letter-spacing:-0.5px;">
                                <span style="display:inline-block; width:2px; height:2px; margin-top:-2px; margin-left:-7px; border-radius:50%; background-color:#888; vertical-align:middle"></span>
                                휴면처리 이후 3개월 내 미로그인 시 계정이 삭제되며 복구할 수 없습니다.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td height="35" style="margin:0; padding:0;"></td>
                    </tr>
                    <tr>
                        <td align="left" style="margin:0; padding:0 0 0 50px">
                            <table style="border-collapse:collapse; text-align:center; background:#000; font-family:'Noto Sans KR', 'Malgun Gothic', Arial, Sans-serif;">
                                <tbody>
                                <!-- 2020-09-16 버튼 수정 -->
                                <tr>
                                    <td align="center" style="width:175px; margin:0; padding:12px 0; background:#000; color:#fff; font-weight:bold; font-size:12px; text-align:center; vertical-align: top; font-family:'Noto Sans KR', 'Malgun Gothic', Arial, Sans-serif;">
                                        <a href="http://www.naver.com" style="padding:0; background:#000; color:#fff; font-size:12px; text-align:center; letter-spacing:-0.5px; border:none; text-decoration:none !important;">NIKE SPACE</a>
                                    </td>
                                </tr>
                                <!-- //2020-09-16 버튼 수정 -->
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="50" style="margin:0; padding:0;"></td>
                    </tr>
                    <tr>
                        <td align="left" style="margin:0; padding:20px 50px; background-color:#f7f7f7; font-family:'Noto Sans KR', 'Malgun Gothic', Arial, Sans-serif;">
                            <p style="margin:0; padding:0; font-size:12px; color:#888; letter-spacing:-0.5px;">
                                ※ 본 메일은 발신전용으로 회신이 되지 않습니다.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
