<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/atom-one-dark-reasonable.min.css">
<link rel="stylesheet" type="text/css" href="../../../frontend-m/src/assets/css/reset.css">
<link rel="stylesheet" type="text/css" href="guide.css">
<link rel="stylesheet" type="text/css" href="../../../frontend-m/src/assets/css/layout.css">
<link rel="stylesheet" type="text/css" href="../../../frontend-m/src/assets/css/ui.nikeFront.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<section class="guide-section mo">
	<h1 class="guide-title">BUTTON</h1>
	<div>
		<h2 class="section-title">Static</h2>
		<h3 class="cont-title">code</h3>
		<pre><code class="html">
&#60;%-- Static Type --%&#62;
&#60;button type="button" class="btn-blue"&#62;BUTTON&#60;/button&#62;
			</code></pre>
		<h3 class="cont-title">view</h3>
		<h4 class="sub-title">Static Type</h4>
		<div class="guide-item">
			<button type="button" class="btn-s-white"><span>btn-s</span></button>
			<button type="button" class="btn-s-black"><span>btn-s-black</span></button>
			<button type="button" class="btn-s-orage"><span>btn-s-orag</span></button>
			<button type="button" class="btn-s-gray"><span>btn-s-gray</span></button>
			<button type="button" class="btn-s-lightgray"><span>btn-s-lightgray</span></button>
		</div>
		<h4 class="sub-title">Small Type</h4>
		<div class="guide-item">
			<button type="button" class="btn-s-sm-white"><span>btn-s-sm-white</span></button>
			<button type="button" class="btn-s-sm-black"><span>btn-s-sm-black</span></button>
			<button type="button" class="btn-s-sm-orage"><span>btn-s-sm-orag</span></button>
			<button type="button" class="btn-s-sm-gray"><span>btn-s-sm-gray</span></button>
			<button type="button" class="btn-s-sm-lightgray"><span>btn-s-sm-lightgray</span></button>
		</div>
		<h4 class="sub-title">large </h4>
		<div class="guide-item">
			<button type="button" class="btn-s-lg-white"><span>btn-s-lg-white</span></button>
			<button type="button" class="btn-s-lg-black"><span>btn-s-lg-black</span></button>
			<button type="button" class="btn-s-lg-orage"><span>btn-s-lg-orag</span></button>
			<button type="button" class="btn-s-lg-gray"><span>btn-s-lg-gray</span></button>
			<button type="button" class="btn-s-lg-lightgray"><span>btn-s-lg-lightgray</span></button>
		</div>

		<h4 class="sub-title">Button Group </h4>
		<div class="guide-item">
			<div class="btn-area">
				<button type="button" class="btn-s-white"><span>btn-s</span></button>
				<button type="button" class="btn-s-black"><span>btn-s-black</span></button>
			</div>
		</div>
		<h4 class="sub-title">English Type</h4>
		<div class="guide-item">
			<button type="button" class="btn-s-black"><span class="bebas">ORDER</span></button>
		</div>
		<h4 class="sub-title">IconType</h4>
		<div class="guide-item">
			<button type="button" class="btn-s-white-sm">
				<i class="icon-link"></i>
				<span>LINK</span>
			</button>
		</div>
	</div>

	<div>
		<h2 class="section-title">Form</h2>
		<h3 class="cont-title">code</h3>
		<pre><code class="html">
&#60;%-- Static Type --%&#62;
&#60;button type="button" class="btn-blue"&#62;BUTTON&#60;/button&#62;
			</code></pre>
		<h3 class="cont-title">view</h3>
		<div class="guide-item">
			<button type="button" class="btn-form"><span>btn-form</span></button>
			<a href="#" class="btn-form-gray"><span>btn-form-gray</span></a>
		</div>
	</div>

</section>
