<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../../../frontend/src/assets/css/reset.css">
<link rel="stylesheet" type="text/css" href="guide.css">
<link rel="stylesheet" type="text/css" href="../../../frontend/src/assets/css/layout.css">
<link rel="stylesheet" type="text/css" href="../../../frontend/src/assets/css/ui.nikeFront.css">
<section class="guide-section">
	<h1 class="guide-title">INPUT</h1>
	<div>
		<h2 class="section-title">Static</h2>
		<h3 class="cont-title">html</h3>
		<pre><code class="html">

		</code></pre>
		<h3 class="cont-title">view</h3>
		<h4 class="sub-title">Static Type</h4>
		<div class="guide-item">
			<input type="text"/>
		</div>

		<h4 class="sub-title">Input txt Type</h4>
		<div class="guide-item">
			<span class="input-txt">
				<input type="text"/>
				<span class="txt">원</span>
			</span>
		</div>

	</div>
</section>
