<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/atom-one-dark-reasonable.min.css">
<link rel="stylesheet" type="text/css" href="../../../frontend-m/src/assets/css/reset.css">
<link rel="stylesheet" type="text/css" href="guide.css">
<link rel="stylesheet" type="text/css" href="../../../frontend-m/src/assets/css/layout.css">
<link rel="stylesheet" type="text/css" href="../../../frontend-m/src/assets/css/ui.nikeFront.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<section class="guide-section mo">
	<h1 class="guide-title">RADIO</h1>
	<div>
		<h2 class="section-title">Static</h2>
		<h3 class="cont-title">code</h3>
		<pre><code class="html">
&#60;label&#62;
	&#60;span class="radio"&#62;
		&#60;input type="radio" name="2"/&#62;
		&#60;i&#62;&#60;/i&#62;
		&#60;span class="txt"&#62;check label radio&#60;/span&#62;
	&#60;/span&#62;
&#60;/label&#62;
&#60;label&#62;
	&#60;span class="radio"&#62;
		&#60;input type="radio" name="2"/&#62;
		&#60;i&#62;&#60;/i&#62;
		&#60;span class="txt"&#62;check label radio&#60;/span&#62;
	&#60;/span&#62;
&#60;/label&#62;
			</code></pre>
		<h3 class="cont-title">view</h3>
		<h4 class="sub-title">Static Type</h4>
		<div class="guide-item">
			<label>
				<span class="radio">
					<input type="radio" name="2"/>
					<i></i>
					<span class="txt">check label radio</span>
				</span>
			</label>
			<label>
				<span class="radio">
					<input type="radio" name="2"/>
					<i></i>
					<span class="txt">check label radio</span>
				</span>
			</label>
		</div>
	</div>

</section>
