<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../../../frontend/src/assets/css/reset.css">
<link rel="stylesheet" type="text/css" href="guide.css">
<link rel="stylesheet" type="text/css" href="../../../frontend/src/assets/css/layout.css">
<link rel="stylesheet" type="text/css" href="../../../frontend/src/assets/css/ui.nikeFront.css">
<section class="guide-section">
	<h1 class="guide-title">SEARCH INPUT</h1>
	<div>
		<h2 class="section-title">Static</h2>
		<h3 class="cont-title">code</h3>
		<pre><code class="html">
&#60;template&#62;
	&#60;div&#62;
	    &#60;SearchInput ref="searchInput" @searchSubmit="searchSubmit" /&#62;
	&#60;/div&#62;
&#60;/template&#62;
import SearchInput from '@/components/search-input';
export default {
    data() {
        return {
            searchKeyword: '',
    },
    components: {
        SearchInput,
    },
    methods: {
        //검색
        searchSubmit(val) {
            this.searchKeyword = val;
            this.initFetchData(); // -&#62; 검색시 api 재호출
        }
    }
};
&#60;/script&#62;

		</code></pre>
		<ul class="desc-list">
			<li>input은 <a href="https://element.eleme.io/?ref=madewithvuejs.com#/en-US/component/input" target="_blank" class="guide-link">ELEMENT UI</a>를 사용한다.</li>
			<li>src>components 디렉토리에 search-input 컴포넌트로 작업되어 있는 것을 사용한다.</li>
			<li>parent 컴포넌트에 위와같이 search-input 컴포넌트를 import 시키며 위의 예시를 참고 한다.</li>
		</ul>
		<h3 class="cont-title">view</h3>
		<h4 class="sub-title">Static Type</h4>
		<div class="guide-item">
			<input type="text"/>
		</div>

		<h4 class="sub-title">Input txt Type</h4>
		<div class="guide-item">
			<span class="input-txt">
				<input type="text"/>
				<span class="txt">원</span>
			</span>
		</div>

	</div>
</section>
