<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../../../frontend-m/src/assets/css/reset.css">
<link rel="stylesheet" type="text/css" href="guide.css">
<link rel="stylesheet" type="text/css" href="../../../frontend-m/src/assets/css/layout.css">
<link rel="stylesheet" type="text/css" href="../../../frontend-m/src/assets/css/ui.nikeFront.css">
<section class="guide-section mo">
	<h1 class="guide-title">TAB</h1>
	<div>
		<h2 class="section-title">Children Components</h2>
		<h3 class="cont-title">Code</h3>
		<pre><code class="html">
&#60;ul class="sorting-tab"&#62;
	&#60;li class="active"&#62;
		&#60;a href="#"&#62;ALL&#60;/a&#62;
	&#60;/li&#62;
	&#60;li&#62;
		&#60;a href="#"&#62;ASSET/TOOLKIT/FOUNDATION&#60;/a&#62;
	&#60;/li&#62;
	&#60;li&#62;
		&#60;a href="#"&#62;부자재주문&#60;/a&#62;
	&#60;/li&#62;
	&#60;li&#62;
		&#60;a href="#"&#62;시공보고서&#60;/a&#62;
	&#60;/li&#62;
	&#60;li&#62;
		&#60;a href="#"&#62;INFORMATION&#60;/a&#62;
	&#60;/li&#62;
&#60;/ul&#62;
		</code></pre>
		<h3 class="cont-title">static views</h3>
		<div class="guide-item">
			<ul class="sorting-tab line2">
				<li class="active">
					<a href="#">ALL</a>
				</li>
				<li>
					<a href="#">부자재주문</a>
				</li>
				<li>
					<a href="#">시공보고서</a>
				</li>
				<li>
					<a href="#">INFORMATION</a>
				</li>
			</ul>
		</div>
	</div>
</section>
