<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../../../frontend-m/src/assets/css/reset.css">
<link rel="stylesheet" type="text/css" href="guide.css">
<link rel="stylesheet" type="text/css" href="../../../frontend-m/src/assets/css/layout.css">
<link rel="stylesheet" type="text/css" href="../../../frontend-m/src/assets/css/ui.nikeFront.css">
<section class="guide-section mo">
	<h1 class="guide-title">TEXTAREA</h1>
	<div>
		<h2 class="section-title">TEXTAREA</h2>
		<h3 class="cont-title">code</h3>
		<pre><code class="html">



		</code></pre>
		<h3 class="cont-title">view</h3>
		<h4 class="sub-title">feedback textarea</h4>
		<div class="guide-item">
			<div class="textarea">
                <textarea maxlength="100" placeholder="댓글을 입력해주세요.">
                </textarea>
				<button type="button" class="btn-form-gray">댓글등록</button>
			</div>
		</div>
	</div>
</section>
