@charset "UTF-8";

/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v20-latin-300.eot');
    src: local('Roboto Light'), local('Roboto-Light'),
        url('../fonts/roboto-v20-latin-300.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/roboto-v20-latin-300.woff2') format('woff2'),
        url('../fonts/roboto-v20-latin-300.woff') format('woff'),
        url('../fonts/roboto-v20-latin-300.ttf') format('truetype'),
        url('../fonts/roboto-v20-latin-300.svg#Roboto') format('svg');
}
/* roboto-regular - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin-regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/roboto-v20-latin-regular.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
        url('../fonts/roboto-v20-latin-regular.woff') format('woff'),
        url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'),
        url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg');
}
/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v20-latin-700.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/roboto-v20-latin-700.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/roboto-v20-latin-700.woff2') format('woff2'),
        url('../fonts/roboto-v20-latin-700.woff') format('woff'),
        url('../fonts/roboto-v20-latin-700.ttf') format('truetype'),
        url('../fonts/roboto-v20-latin-700.svg#Roboto') format('svg');
}

/* noto-sans-kr-300 - latin_korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/noto-sans-kr-v12-latin_korean-300.eot');
    src: local('Noto Sans KR Light'), local('NotoSansKR-Light'),
        url('../fonts/noto-sans-kr-v12-latin_korean-300.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/noto-sans-kr-v12-latin_korean-300.woff2') format('woff2'),
        url('../fonts/noto-sans-kr-v12-latin_korean-300.woff') format('woff'),
        url('../fonts/noto-sans-kr-v12-latin_korean-300.svg#NotoSansKR')
            format('svg');
}
/* noto-sans-kr-regular - latin_korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-sans-kr-v12-latin_korean-regular.eot');
    src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
        url('../fonts/noto-sans-kr-v12-latin_korean-regular.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/noto-sans-kr-v12-latin_korean-regular.woff2')
            format('woff2'),
        url('../fonts/noto-sans-kr-v12-latin_korean-regular.woff')
            format('woff'),
        url('../fonts/noto-sans-kr-v12-latin_korean-regular.svg#NotoSansKR')
            format('svg');
}
/* noto-sans-kr-500 - latin_korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/noto-sans-kr-v12-latin_korean-medium.eot');
    src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
        url('../fonts/noto-sans-kr-v12-latin_korean-medium.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/noto-sans-kr-v12-latin_korean-medium.woff2')
            format('woff2'),
        url('../fonts/noto-sans-kr-v12-latin_korean-medium.woff') format('woff'),
        url('../fonts/noto-sans-kr-v12-latin_korean-medium.svg#NotoSansKR')
            format('svg');
}
/* noto-sans-kr-700 - latin_korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/noto-sans-kr-v12-latin_korean-700.eot');
    src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
        url('../fonts/noto-sans-kr-v12-latin_korean-700.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/noto-sans-kr-v12-latin_korean-700.woff2') format('woff2'),
        url('../fonts/noto-sans-kr-v12-latin_korean-700.woff') format('woff'),
        url('../fonts/noto-sans-kr-v12-latin_korean-700.svg#NotoSansKR')
            format('svg');
}

/* bebas-neue-regular - latin */
@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bebas-neue-v1-latin-regular.eot');
    src: local('Bebas Neue Regular'), local('BebasNeue-Regular'),
        url('../fonts/bebas-neue-v1-latin-regular.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/bebas-neue-v1-latin-regular.woff2') format('woff2'),
        url('../fonts/bebas-neue-v1-latin-regular.woff') format('woff'),
        url('../fonts/bebas-neue-v1-latin-regular.ttf') format('truetype'),
        url('../fonts/bebas-neue-v1-latin-regular.svg#BebasNeue') format('svg');
}
