@charset "UTF-8";

:root {
    font-size: 14px;
    --safeTop: env(safe-area-inset-top);
    --safeBtm: env(safe-area-inset-bottom);
}
html,
body {
    box-sizing: border-box;
    height: 100%;
}
body {
    padding: var(--safeTop) 0 var(--safeBtm);
}
body.el-popup-parent--hidden {
    height: auto;
}
#wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    padding-bottom: 60px;
    overflow: hidden;
}
header {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    padding: 11px 20px 8px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
}
header .logo {
    width: 120px;
    height: 40px;
    /*background: url('../images/img-main-logo.svg') 0 0 no-repeat;*/
    background-size: 120px auto;
}
header .logo a {
    display: block;
}
header .logo svg {
    vertical-align: top;
}
/*header .logo span {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    text-indent: -9999px;*/
/*}*/
/*.sticky-header header {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
}*/
.sticky-header .page-header.header-detail {
    border-bottom: 1px solid #eee;
}
.page-header {
    display: flex;
    min-height: 60px;
    padding: 0 0 0 20px;
    border: none;
    z-index: 10;
}

.btn-back {
    flex: 0 0 36px;
    display: block;
    height: 36px;
    margin: 7px 10px 0 -10px;
    background: url('../images/svg/icon-back.svg') no-repeat center;
    text-indent: -999px;
    overflow: hidden;
    transform: rotate(45deg);
}
.page-header .inner-wrap {
    display: flex;
    width: calc(100% - 20px);
}
.page-header .inner {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
.page-header .btn-box {
    margin-left: auto;
    padding-right: 5px;
}
.page-header .btn-box [class^='btn-txt'] {
    position: relative;
    height: 60px;
}
.page-header .btn-box [class^='btn-txt'] + [class^='btn-txt']:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 1px;
    height: 10px;
    background: #d8d8d8;
    transform: translateY(-50%);
}
.page-title {
    display: block;
    font-size: 22px;
    line-height: 60px;
    font-family: 'Bebas Neue', 'Noto Sans KR', sans-serif;
    letter-spacing: 0;
    color: #000;
    font-weight: normal;
}
.page-title span {
    letter-spacing: 0;
}
.page-title span.ko {
    display: none;
    font-size: 20px;
    font-weight: bold;
}
.nav-tab {
    display: flex;
    margin: 0 0 0 -15px;
}
.nav-tab:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: #eee;
}
.nav-tab li a {
    position: relative;
    display: block;
    padding: 0 15px;
}
.nav-tab li a > span {
    position: relative;
    display: inline-block;
    padding: 10px 0;
    line-height: 20px;
    font-size: 14px;
    color: #ccc;
    font-weight: 500;
    font-family: 'Noto Sans KR', 'Arial', 'Apple SD Gothic Neo', sans-serif;
}
.nav-tab li.active a > span {
    color: #000;
}
.nav-tab li.active a > span:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    transform: translateX(-50%);
}
.menu-list {
    margin-top: 40px;
    max-height: calc(100% - 40px - 95px);
}
.menu-list li {
    overflow: hidden;
    transition: height ease-in-out 0.3s;
}
.menu-list li button,
.menu-list li a {
    position: relative;
    display: block;
    width: 100%;
    border-bottom: 1px solid #000;
    line-height: 50px;
    text-align: left;
    border-radius: 0;
    font-size: 18px;
    color: #000;
    font-family: 'Bebas Neue', 'Noto Sans KR', sans-serif;
}
.menu-list li button > span {
    letter-spacing: 0.05em;
}

.menu-list li button:before,
.menu-list li a:before {
    content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    display: block;
    width: 36px;
    height: 36px;
    background: url(../../assets/images/svg/icon-plus.svg) no-repeat center;
    transform: translateY(-50%);
}
.menu-list li.active {
    transition: height ease-in-out 0.3s;
}
.menu-list li.active > button:before,
.menu-list li.active > a:before {
    background-image: url(../../assets/images/svg/icon-minus.svg);
}
.menu-list li button span,
.menu-list li a span {
    letter-spacing: 0.2px;
}
.menu-list li button span.ko,
.menu-list li a span.ko {
    display: none;
}
.depth {
    padding: 10px 0;
}
.depth li a {
    line-height: 40px;
    font-size: 16px;
    color: #888;
    border: none;
    letter-spacing: 0.2px;
}
.depth li a:before {
    right: 0;
    width: 20px;
    height: 20px;
    background: url(../../assets/images/svg/icon-more-gray.svg) no-repeat center;
}
.depth li a > span {
    font-size: 14px;
    font-family: 'Noto Sans KR', 'Arial', 'Apple SD Gothic Neo', sans-serif;
    font-weight: bold;
    letter-spacing: -0.05em;
}
header + .contents,
.page-header.header-detail + .contents {
    padding-top: 60px;
}
.page-header + .contents {
    padding-top: 100px;
}
.contents {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 0 20px 50px;
    box-sizing: border-box;
    overflow: hidden;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70px;
    background: #333;
    font-size: 11px;
    color: #888;
}
footer .info-list {
    display: flex;
    align-items: center;
}
footer .info-list li {
    position: relative;
}
footer .info-list li a {
    display: block;
    padding: 0 10px;
    height: 17px;
    line-height: 17px;
}
footer .info-list li + li:before {
    position: absolute;
    top: 50%;
    left: 0;
    content: '';
    width: 1px;
    height: 8px;
    background: #888;
    transform: translateY(-50%);
}
footer .copy {
    margin-top: 6px;
    line-height: 13px;
}

.nav-area {
    z-index: 20;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.tab-bar {
    display: flex;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
}
.tab-bar li {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 50%;
    text-align: center;
}
.tab-bar li a,
.tab-bar li button {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-family: 'Bebas Neue', 'Noto Sans KR', sans-serif;
    font-size: 12px;
    color: #888;
}
.tab-bar li a div,
.tab-bar li button div {
    display: flex;
    width: 100%;
    height: 42px;
    align-items: center;
    justify-content: center;
}
.tab-bar li span {
    display: block;
    letter-spacing: 0.05em;
}
.tab-bar li svg {
    display: block;
    width: 32px !important;
    height: 32px !important;
    background: no-repeat center;
}
.tab-bar li .icon-home {
    background-image: url(../images/svg/icon-bottom-home-on.svg);
}
.tab-bar li .icon-report {
    background-image: url(../images/svg/icon-bottom-report-off.svg);
}
.tab-bar li .icon-my {
    background-image: url(../images/svg/icon-bottom-my-off.svg);
}
.tab-bar li .icon-menu {
    background-image: url(../images/svg/icon-bottom-menu-off.svg);
}
.user-info .store-name {
    display: block;
    font-size: 16px;
    margin-right: 25px;
    font-weight: bold;
    line-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user-info .store {
    display: block;
    line-height: 15px;
    font-size: 13px;
}
.user-info .mail {
    display: block;
    margin-top: 5px;
    line-height: 15px;
    font-size: 13px;
    color: #888;
}
.sticky-bottom .contents {
    padding-bottom: 100px;
}

/* modal open css */
.modal-wrap.modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.vm--modal {
    max-height: 100vh;
    max-width: calc(100% - 40px);
    margin: 0 20px;
    display: flex;
}
/*
.modal {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    position: relative;
    background: #fff;
    border-radius: 4px;
    padding: 0 20px 30px;
    overflow: hidden;
    box-sizing: border-box;
}
.modal-scroll {
    max-height: calc(100vh - 400px);
}
.modal-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
}
.modal-header {
    flex: 0 0 40px;
}
.modal-header h1 {
    line-height: 60px;
}
.modal-content {
    flex-direction: column;
    flex: 1 1 auto;
    position: relative;
}
.modal-footer {
    flex: 0 0 40px;
}
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    text-indent: -9999px;
    background: url('../images/svg/icon-close-popup.svg') no-repeat center;
}*/

.modal-enter-active,
.modal-leave-active {
    transition: opacity 0.4s;
}
.modal-enter-active .modal-window,
.modal-leave-active .modal-window {
    transition: opacity 0.4s, transform 0.4s;
}
.modal-leave-active {
    transition: opacity 0.6s ease 0.4s;
}
.modal-enter,
.modal-leave-to {
    opacity: 0;
}
.modal-enter .modal-window,
.modal-leave-to .modal-window {
    opacity: 0;
    transform: translateY(-20px);
}

/* el-dialog */
.el-dialog__wrapper {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.el-dialog {
    margin: 0 !important;
    width: calc(100% - 40px);
    max-height: calc(100% - 100px);
    overflow: hidden;
}

.el-dialog__header {
    min-height: 60px;
    padding: 20px 45px 10px 20px;
    box-sizing: border-box;
}
.el-dialog__body {
    padding-top: 0;
    max-height: calc(100% - 60px);
}
.el-dialog__title {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
.el-dialog__headerbtn {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 36px;
    width: 36px;
    text-indent: -9999px;
    background: url('../images/svg/icon-close-popup.svg') no-repeat center;
}
.el-dialog.full {
    margin: 0 !important;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    max-height: 100%;
    flex-direction: column;
}
.el-dialog.full .el-dialog__footer {
    padding: 0;
    height: 54px;
}
.modal.full,
.modal.full .el-dialog {
    overflow: hidden;
    max-height: 100%;
}
/*.modal.full .el-dialog {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: auto;
    max-height: 100vh;
    min-height: 100%;
    margin: 0 !important;
}*/
.modal.full .el-dialog__body {
    /*flex-grow: 1;*/
    padding: 0;
    height: calc(100% - 54px);
    padding-bottom: 50px;
    box-sizing: border-box;
}
.modal-contents {
}
.modal.full .el-dialog__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
}
.modal.full .dialog-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}
.modal.full .dialog-footer button {
    width: 100%;
    height: 54px;
    border-radius: 0;
    border: none;
    background-color: #000;
}

.modal.full .modal-contents {
    min-height: 100%;
}
.list-loading {
    position: relative;
    padding-top: 70%;
}
.list-loading .lottie {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*.page-change-enter-active {
    transition: opacity 0.3s ease-in-out;
}
.page-change-leave-active {
    transition: opacity 0.3s ease-in-out;
}
.page-change-enter,
.page-change-leave-to {
    opacity: 0;
}*/
