<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>NIKE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin:0;">
    <div style="overflow: hidden; padding: 70px 0; background-color:#eee;">
        <div style="width:650px; max-width:650px; margin:0 auto;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="width:100%; margin:0; padding:0 !important;  border-collapse:collapse; font-size:14px; font-family:'Noto Sans KR', 'Malgun Gothic', Arial, Sans-serif; background-color: #fff;text-align:center; color:#000; box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.05);">
                <tbody>
                    <tr>
                        <td style="padding:42px 50px 0">
                            <table style="width:100%; border-collapse:collapse; font-size:14px;" cellspacing="0" cellpadding="0">
                                <tbody>
                                <!-- 2020-09-16 로고 수정 -->
                                <tr>
                                    <td align="left">
                                        <a href="#" style="vertical-align: top;">
                                            <img style="vertical-align: top;" src="./images/img-main-logo.png" alt="NIKE SPACE">
                                        </a>
                                    </td>
                                </tr>
                                <!-- //2020-09-16 로고 수정 -->
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    <!-- 2020-09-10 수정 -->
                    <tr>
                        <td height="10" style="margin:0; padding:0;"></td>
                    </tr>
                    <tr>
                        <td style="margin:0; padding:0; display:inline-block; width:84.6%; height:2px; vertical-align:top; background-color:#000;"></td>
                    </tr>
                    <!-- //2020-09-10 수정 -->

                    <tr>
                        <td align="left" class="title" style="font-family:'Noto Sans KR', 'Malgun Gothic', Arial, Sans-serif; padding:40px 50px 25px; font-size:30px; letter-spacing:-0.5px; color:#000">
                            <strong style="width:100%; margin:0;">주문서</strong>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" class="text-area" style="font-family:'Noto Sans KR', 'Malgun Gothic', Arial, Sans-serif; padding:0 50px; letter-spacing:-0.5px;">
                            <p style="margin:0; padding-bottom:40px; border-bottom:1px solid #eee;">
                                <strong style="line-height:24px; ">AGENCY</strong>님<br><strong class="chain" style="color:#ff4200">NIKE 강남점</strong>에서 주문이 발주되었음을 알려드립니다.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="left"  style="padding: 33px 50px 0; letter-spacing: -0.5px;">
                            <strong>주문 일시</strong>
                            <span style="display:inline-block; color:#888; letter-spacing:0; margin-left:3px;">2020.06.30 15:34</span>
                            <table border="0" style="width:100%; margin-top:15px; border:1px solid #ddd; border-bottom:none; border-collapse:collapse; table-layout:fixed; font-family:'Noto Sans KR', 'Malgun Gothic', Arial, Sans-serif;">
                                <colgroup>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th style="border-bottom:1px solid #ddd; padding:13px 0 12px 30px; font-weight:normal; background-color:#f7f7f7; line-height:18px; font-size:12px; color:#555; font-weight:bold; text-align: left;">주문 상품</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <!-- 주문 한건 -->
                                    <tr>
                                       <td style="margin:0; padding:30px; border-bottom:1px solid #ddd;">
                                           <table border="0" style="width:100%; border-collapse:collapse; table-layout:fixed; font-family:'Noto Sans KR', 'Malgun Gothic', Arial, Sans-serif;">
                                               <colgroup>
                                                   <col style='width:65px;'>
                                                   <col style="width:425px;">
                                               </colgroup>
                                               <tbody>
                                               <tr>
                                                   <td style="width:65px; margin:0; vertical-align:top">
                                                       <div style="width:50px; height:50px; overflow:hidden; margin:0; padding:0; line-height:50px; background:#f7f7f7; " >
                                                           <img width="50" style="width:50px; vertical-align:middle;" src="http://placehold.it/500x300" alt="test" >
                                                       </div>
                                                   </td>
                                                   <td style="width:425px;">
                                                       <p style="margin:0; width:300px; font-size:12px; color:#333; line-height:18px;">ATHLETE 네임택 목걸이 ATHLETE 네임택 목걸이 ATHLETE 네임택 목걸이 ATHLETE 네임택 목걸이 ATHLETE 네임택 목걸이 ATHLETE 네임택 목걸이</p>
                                                       <p style="margin:5px 0 0 0; width:300px; font-size:11px; color:#555; line-height:17px;">SPORTS / NOS 2.0 BVR</p>
                                                   </td>
                                               </tr>
                                               <tr>
                                                   <td style="width:65px; margin:0; padding-top:15px; vertical-align:top;">
                                                       <span style="line-height:18px; font-size:12px; color:#888;">
                                                           주문수량
                                                       </span>
                                                   </td>
                                                   <td style="width:425px;  padding-top:15px; vertical-align:top;">
                                                       <span style="line-height:18px; font-size:12px; color:#000;"><strong>1,000</strong> 개</span>
                                                   </td>
                                               </tr>
                                               <tr>
                                                   <td style="width:65px; margin:0; padding-top:5px; vertical-align:top;">
                                                       <span style="line-height:18px; font-size:12px; color:#888;">
                                                           첨부파일
                                                       </span>
                                                   </td>
                                                   <td style="width:425px;  padding-top:5px; vertical-align:top;">
                                                     <div style="overflow:hidden">
                                                         <a href="#" style="float:left; display:block; margin-right:5px;">
                                                             <span style="display:inline-block;">
                                                                 <img style="width:40px; height:40px; vertical-align:middle;" src="http://placehold.it/500x300" alt="test">
                                                             </span>
                                                         </a>
                                                         <a href="#" style="float:left; display:block; margin-right:5px;">
                                                             <span style="display:inline-block;">
                                                                 <img style="width:40px; height:40px; vertical-align:middle;" src="http://placehold.it/500x300" alt="test">
                                                             </span>
                                                         </a>
                                                         <a href="#" style="float:left; display:block; margin-right:5px;">
                                                             <span style="display:inline-block;">
                                                                 <img style="width:40px; height:40px; vertical-align:middle;" src="http://placehold.it/500x300" alt="test">
                                                             </span>
                                                         </a>
                                                     </div>
                                                   </td>
                                               </tr>
                                               <tr>
                                                   <td style="width:65px; margin:0; padding-top:15px; vertical-align:top;">
                                                       <span style="line-height:18px; font-size:12px; color:#888;">
                                                           요청사항
                                                       </span>
                                                   </td>
                                                   <td style="width:425px;  padding-top:10px; vertical-align:top;">
                                                       <span style="line-height:18px; font-size:12px; color:#888;">
                                                           안녕하세요.  나이키 홍대점 입니다. 마네킹 A/S 관련하여 문의 드립니다.  A/S  관련하여 사진을 같이 첨부해서 주문합니다. 확인해보시고 매장으로 연락 부탁드립니다. 주문 수량은 1000개로 확인하여 보내드립니다. 매장에 관련 부자재가 없어서 빠른 배송 부탁드리겠습니다.
                                                       </span>
                                                   </td>
                                               </tr>
                                               </tbody>
                                           </table>
                                       </td>

                                    </tr>
                                <!-- //주문 한건 -->
                                <!-- 주문 한건 -->
                                <tr>
                                    <td style="margin:0; padding:30px; border-bottom:1px solid #ddd;">
                                        <table border="0" style="width:100%; border-collapse:collapse; table-layout:fixed; font-family:'Noto Sans KR', 'Malgun Gothic', Arial, Sans-serif;">
                                            <colgroup>
                                                <col style='width:65px;'>
                                                <col style="width:425px;">
                                            </colgroup>
                                            <tbody>
                                            <tr>
                                                <td style="width:65px; margin:0; vertical-align:top">
                                                    <div style="width:50px; height:50px; overflow:hidden; margin:0; padding:0; line-height:50px; background:#f7f7f7; " >
                                                        <img width="50" style="width:50px; vertical-align:middle;" src="http://placehold.it/500x300" alt="test" >
                                                    </div>
                                                </td>
                                                <td style="width:425px;">
                                                    <p style="margin:0; width:300px; font-size:12px; color:#333; line-height:18px;">ATHLETE 네임택 목걸이 ATHLETE 네임택 목걸이 ATHLETE 네임택 목걸이 ATHLETE 네임택 목걸이 ATHLETE 네임택 목걸이 ATHLETE 네임택 목걸이</p>
                                                    <p style="margin:5px 0 0 0; width:300px; font-size:11px; color:#555; line-height:17px;">SPORTS / NOS 2.0 BVR</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:65px; margin:0; padding-top:15px; vertical-align:top;">
                                                    <span style="line-height:18px; font-size:12px; color:#888;">
                                                        주문수량
                                                    </span>
                                                </td>
                                                <td style="width:425px;  padding-top:15px; vertical-align:top;">
                                                    <span style="line-height:18px; font-size:12px; color:#000;"><strong>1,000</strong> 개</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:65px; margin:0; padding-top:15px; vertical-align:top;">
                                                    <span style="line-height:18px; font-size:12px; color:#888;">
                                                        요청사항
                                                    </span>
                                                </td>
                                                <td style="width:425px;  padding-top:10px; vertical-align:top;">
                                                    <span style="line-height:18px; font-size:12px; color:#888;">
                                                        안녕하세요.  나이키 홍대점 입니다. 마네킹 A/S 관련하여 문의 드립니다.  A/S  관련하여 사진을 같이 첨부해서 주문합니다. 확인해보시고 매장으로 연락 부탁드립니다. 주문 수량은 1000개로 확인하여 보내드립니다. 매장에 관련 부자재가 없어서 빠른 배송 부탁드리겠습니다.
                                                    </span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>

                                </tr>
                                <!-- //주문 한건 -->
                                </tbody>
                            </table>
                            <!-- //2020-09-16 디자인 요청 수정 -->

                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding:30px 50px 0; letter-spacing: -0.5px;">
                            <strong>주문 COMMENT</strong>
                            <p style="margin: 10px 0 0 0; padding:10px 15px 14px; border:1px solid #ddd;">
                                듀브레는 NIKE 강남점으로 배송해주시고<br>
                                옷걸이는 홍대점으로 배송 부탁드립니다.
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td height="50" style="margin:0; padding:0;"></td>
                    </tr>
                    <tr>
                        <td align="left" style="margin:0; padding:20px 50px; background-color:#f7f7f7; font-family:'Noto Sans KR', 'Malgun Gothic', Arial, Sans-serif;">
                            <p style="margin:0; padding:0; font-size:12px; color:#888; letter-spacing:-0.5px;">
                                ※ 본 메일은 발신전용으로 회신이 되지 않습니다.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
