@charset "UTF-8";

:root {
    font-size: 14px;
}
html,
body {
    box-sizing: border-box;
    height: 100%;
}
body {
    padding: var(--safeTop) 0 var(--safeBtm);
}
#app {
    height: 100%;
}
#wrap {
    display: flex;
    flex-wrap: wrap;
    min-width: 1440px;
    height: 100%;
}
header {
    position: relative;
    flex: 0 0 200px;
}
header .inner {
    width: 200px;
    box-sizing: border-box;
    padding: 80px 30px 130px;
}
header h1 {
}
header h1 a {
    display: block;
    width: 100px;
}
header h1 a img {
    vertical-align: top;
}
header.depth {
}
#container {
    overflow: hidden;
    display: flex;
    flex: 1 1 calc(100% - 200px);
    box-sizing: border-box;
    min-height: calc(100vh - 144px);
}
.contents {
    flex: 1 1 auto;
    max-width: calc(100% - 300px);
    padding: 80px 60px 130px;
}
aside {
    position: relative;
    flex: 0 0 300px;
}
aside .sticky-content {
    z-index: 2;
    position: relative;
}
aside .aside-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #f7f7f7;
}
aside .inner {
    width: 300px;
    box-sizing: border-box;
    padding: 80px 30px 130px;
}
aside .aside-wrap {
    position: relative;
}
aside .inner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
footer {
    flex: 0 0 100%;
    height: 144px;
    background: #000;
}

nav {
    margin-top: 30px;
    font-family: 'Bebas Neue', sans-serif;
}
nav a {
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
}

/*.aside-ani-enter-active {*/
/*    transition: all 0.3s ease-in-out;*/
/*}*/
/*.aside-ani-leave-active {*/
/*    transition: all 0.3s ease-in-out;*/
/*}*/
/*.aside-ani-enter,*/
/*.aside-ani-leave-to {*/
/*    opacity: 0;*/
/*    transform: translateX(100%);*/
/*}*/

.page-change-enter-active {
    transition: all 0.3s ease-in-out;
}
.page-change-leave-active {
    transition: all 0.3s ease-in-out;
}
.page-change-enter,
.page-change-leave-to {
    opacity: 0;
    transform: translateY(10px);
}
