@charset "UTF-8";

:root {font-size:14px; --safeTop:env(safe-area-inset-top); --safeBtm:env(safe-area-inset-bottom);}
html, body {box-sizing:border-box; min-height:100%;}
body {padding:var(--safeTop) 0 var(--safeBtm);}
#wrap {background:#fff;}
#header {width:100%; height:50px; padding:var(--safeTop) 0 0 0; background:#fff;}
#header > .inner {position:relative;}
#header h1 {display:flex; align-items:center; justify-content:center; height:50px; margin:0; padding:0 50px; font-size:18px; font-weight:500; color:#000;}
#header .btn-prev-page {z-index:1; position:absolute; top:5px; left:12px; width:24px; height:24px; padding:8px;}
#header .util-group {position:absolute; top:5px; right:12px;}
#header .btn-cart {position:relative; float:left; width:24px; height:24px; margin-right:2px; padding:8px;}
#header .btn-cart .num {position:absolute; top:3px; right:5px; display:inline-block; box-sizing:border-box; min-width:15px; height:15px; padding:1px 4px 0; font-family:"Gotham", "Noto Sans KR", sans-serif; font-size:10px; font-weight:bold; line-height:14px; text-align:center; color:#fff; border-radius:10px; background:#f00;}
#header .btn-coupon {float:left; width:24px; height:24px; margin-right:2px; padding:8px;}
#header .btn-menu {float:left; width:24px; height:24px; padding:8px;}
#header.red-type {background:#da2833;}
#header.red-type .stroke {stroke:#fff;}
#header.red-type h1 {color:#fff;}
body.red-type:after {content:''; z-index:-1; position:fixed; top:0; left:0; width:100%; height:50vh; background:#da2833;}
#footer {}
#container {box-sizing:border-box; padding-bottom:30px;}
#container:before {content:''; display:block; overflow:hidden; height:0;}
#navigation {z-index:999999; position:fixed; top:0; right:0; display:block; visibility:hidden; overflow:auto; box-sizing:border-box; width:300px; height:100%; padding:var(--safeTop) 0 var(--safeBtm) 0; background:#fff; transition:all 300ms ease-in-out; transform:translateX(100%);}
#navigation > .inner {padding:0 30px 30px;}
#navigation .nav-header {display:flex; align-items:center; height:50px; margin-right:-20px;}
#navigation .nav-header .top-logo {margin:0;}
#navigation .nav-header .top-logo a {display:block; width:52px; height:16px; margin-left:-10px; padding:10px;}
#navigation .nav-header [class^=btn-] {display:inline-flex; overflow:hidden; width:40px; height:40px; text-indent:-9999px;}
#navigation .nav-header .btn-notify {margin-left:auto; background:url(/resources/images/icon_alarm.svg) center no-repeat;}
#navigation .nav-header .btn-notify.new {margin-left:auto; background-image:url(/resources/images/icon_alarm-new.svg);}
#navigation .nav-header .btn-setting {background:url(/resources/images/icon_setting.svg) center no-repeat;}
#navigation .user-box {display:flex; flex-wrap:wrap; justify-content:space-between; overflow:hidden; margin-top:7px;}
#navigation .user-box .user-level {display:flex; align-items:center; width:100%; height:10px; margin:13px 0 5px 0; font-size:10px; font-weight:bold; color:#000;}
#navigation .user-box .user-level:before {content:""; display:block; width:5px; height:5px; margin-right:3px; border-radius:100%; background:#f40009;}
#navigation .user-box .user-name {display:block; flex:1 1 calc(100% - 61px); overflow:hidden; width:calc(100% - 55px); font-size:20px; line-height:30px; white-space:nowrap; text-overflow:ellipsis; color:#000;}
#navigation .user-box .btn-d-white-xs {flex:0 0 52px; padding:0;}
#navigation .user-point-list {display:flex; align-items:center; margin:15px 0 0 -17px;}
#navigation .user-point-list li {position:relative; }
#navigation .user-point-list li + li:before {content:""; position:absolute; bottom:3px; left:0; display:block; width:1px; height:12px; background:#eee;}
#navigation .user-point-list li a {display:block; padding:0 17px 0 20px;}
#navigation .user-point-list li a .title {display:block; font-size:12px; line-height:18px; color:#bbb;}
#navigation .user-point-list li a .num {display:block; margin-top:5px; font-size:12px; line-height:20px; color:#666;}
#navigation .user-point-list li a .num strong {margin-right:2px; font-family:"Gotham", "Noto Sans KR", sans-serif; font-size:20px; letter-spacing:0; color:#000;}
#navigation nav {margin-top:26px;}
#navigation nav ul:first-child {margin-top:0;}
#navigation nav ul {margin-top:12px; padding:12px 30px 0 0; border-top:1px solid #f7f7f7;}
#navigation nav ul li a {position:relative; display:block; /*height:49px;*/ padding-left:40px; font-size:16px; line-height:49px; color:#444;}
#navigation nav ul [class*=icon-] {position:absolute; top:50%; left:5px; display:block; width:20px; height:20px; background-repeat:no-repeat; background-size:cover; transform:translateY(-50%);}
#navigation nav ul .icon-vending {background-image:url(/resources/images/icon-vending.svg);}
#navigation nav ul .icon-store {background-image:url(/resources/images/icon-delivery.svg);}
#navigation nav ul .icon-point {background-image:url(/resources/images/icon-pointshop.svg);}
#navigation nav ul .icon-gage {background-image:url(/resources/images/icon-game.svg);}
#navigation nav ul .icon-camera {background-image:url(/resources/images/icon-camera.svg);}
#navigation nav ul .icon-video {background-image:url(/resources/images/icon-video.svg);}
#navigation nav ul .icon-customer {background-image:url(/resources/images/icon-customer.svg);}
#navigation .btn-banner {display:block; margin:9px 0 0 0; box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.1);}
#navigation .btn-banner img {vertical-align:top;}
.nav-open #navigation {visibility:visible; transform:translateX(0);}
.contents {padding:0 20px;}
.contents:before {content:''; display:block; overflow:hidden; height:0;}
/* non-scroll */
#wrap.non-scroll {position:fixed; top:0; left:0; display:flex; flex-direction:column; overflow:hidden; box-sizing:border-box; width:100%; height:100%; padding:var(--safeTop) 0 0;}
#wrap.non-scroll #container {flex:0 0 auto; height:100%; padding-bottom:0;}
#wrap.non-scroll header + #container,
#wrap.non-scroll .sticky-header + #container {height:calc(100% - 50px);}
#wrap.non-scroll #container > .contents {box-sizing:border-box; min-height:100%; padding-bottom:30px;}
#wrap.non-scroll.has-tab-bar {padding-bottom:calc(61px + var(--safeBtm)) !important;}
#wrap.has-tab-bar {box-sizing:border-box; padding-bottom:61px !important;}

/* modal */
.modal {position:fixed;top:0; left:0; display:flex; flex-flow:column; visibility:hidden; overflow:hidden; box-sizing:border-box; width:100%; height:100%; padding:var(--safeTop) 0 var(--safeBtm); background:#fff; transition:transform 300ms ease-in-out 0s, opacity 300ms ease-in-out 0s, visibility 300ms linear 300ms; transform:translateY(100%);}
.modal.sm {top:50%; left:50%; width:calc(100% - 40px); height:auto; max-height:calc(100% - 100px); padding:0; opacity:0; border-radius:10px; transform:translate(-50%, -50%);}
.modal > form {display:flex; flex-flow:column; overflow:hidden; height:100%;}
.modal-header {height:50px;}
.modal-header h1 {height:50px; padding:0 50px; font-size:18px; font-weight:500; line-height:50px; text-align:center;}
.modal-header .btn-prev-page {z-index:1; position:absolute; top:5px; left:12px; width:24px; height:24px; padding:8px;}
.modal-container {flex:1 1 auto; overflow:auto; min-height:1px; max-height:100vh; padding:0 0 30px; -webkit-overflow-scrolling:touch;}
.modal-container.odd {padding-top:1px;}
.modal.non-scroll {padding:0;}
.modal.non-scroll .modal-header {padding-top:var(--safeTop);}
.modal.non-scroll .modal-container {height:calc(100vh - var(--safeTop) - 50px);}
.modal-contents {/*height:100%;*/ padding:0 20px;}
.modal-contents:before {content:''; display:block; height:1px; margin-top:-1px;}
/*.modal .step-box .btn-area.bottom {bottom:calc(0px - var(--safeBtm));}*/
.step-box .btn-area.bottom {position:absolute; bottom:0; left:0; width:100%;}
.step-box .btn-area.bottom > [class*=btn-] {padding-bottom:calc(var(--safeBtm) - 17px);}
.modal-footer {}
.modal-footer .btn-area {width:100%; margin:0;}
.modal.sm .modal-header h1 {text-align:left;}
.modal.sm .modal-container {padding:0 0 20px;}
.modal.sm .modal-container .modal-contents {padding:30px 20px 0;}
.modal.sm .modal-footer {position:relative; display:flex; justify-content:flex-end;}
.modal .modal-close {position:absolute; top:calc(var(--safeTop) + 5px); right:10px; overflow:hidden; width:40px; height:40px; text-indent:-9999px;}
.modal .modal-close:after {content:""; position:absolute; top:50%; left:50%; display:block; width:24px; height:24px; background:url(/resources/images/btn_close.svg) no-repeat; transform:translate(-50%, -50%);}
.modal.btm {top:auto; bottom:0; max-width:100vh; height:auto; max-height:calc(100vh - 50px - var(--safeTop)); padding-top:30px; opacity:1; border-radius:20px 20px 0 0; transform:translateY(100%); transform-origin:50% 0;}
.modal.btm.ben-type {height:calc(100vh - 50px - var(--safeTop)); max-height:none;}
.modal.btm .modal-header {height:auto; margin-top:10px; padding:0 20px; font-weight:bold;}
.modal.btm .modal-header h1 {height:auto; padding:0; font-size:16px; font-weight:bold; line-height:20px; text-align:left;}
.modal.btm .modal-close {top:0; left:50%; width:40px; height:30px; margin-left:-20px; text-indent:-9999px;}
.modal.btm .modal-close:after {content:''; position:absolute; top:50%; left:50%; width:38px; height:4px; margin:-2px 0 0 -19px; border-radius:2px; background:#bbb; transform:none;}
.modal.modal-video {top:50%; left:50%; width:calc(100% - 40px); height:auto; max-height:calc(100% - 100px); padding:0; opacity:0; background:transparent; transform:translate(-50%, -50%);}
.modal.modal-video .modal-container {padding:0;}
.modal.modal-video .modal-container .modal-contents {padding:0;}
.modal.modal-today .modal-container {padding:0;}
.modal.modal-today .modal-container .modal-contents {padding:0;}
.modal.modal-today .modal-footer .txt-close {position:absolute; top:50%; left:20px; font-size:12px; color:#bbb; transform:translateY(-50%);}
.modal.open {visibility:visible;transition-delay:0s; transform:translateY(0);}
.modal.open.sm,
.modal.open.modal-video {opacity:1; transform:translate(-50%, -50%);}
.modal.open.dimmed-wrap.btm.hide {transform:translateY(100%);}
.modal.btn-type {padding-bottom:0;}
.modal.btn-type .modal-footer .btn-area [class*=btn-] {padding-bottom:calc(var(--safeBtm) - 17px);}
#modal-datepicker .modal-container {overflow:hidden;}
.dimmed {position:fixed;top:-10px;right:-10px;bottom:-10px;left:-10px;background:rgba(0, 0, 0, 0);transition:background-color 1000ms ease-in-out 0s;}
.dimmed-wrap {overflow:hidden;}
.dimmed-wrap > .dimmed {background:rgba(0, 0, 0, 0.4)}
body > .dimmed {top:0;right:0;bottom:0;left:0;}
body.dimmed-wrap > .dimmed {background:rgba(0, 0, 0, 0.5);}
body.modal-open {position:relative; height:100vh;}
body.nav-open #wrap,
body.modal-open #wrap {position:fixed; top:0; left:0; overflow:hidden; box-sizing:border-box; width:100%; height:100%; padding:var(--safeTop) 0 var(--safeBtm);}
body.nav-open #wrap.has-tab-bar,
body.modal-open #wrap.has-tab-bar {padding-bottom:calc(61px + var(--safeBtm)) !important;}
/*
.modal-container.non-scroll {overflow:hidden; display:flex; flex-direction:column;}
.modal-container.non-scroll .modal-contents {overflow:hidden; display:flex; flex-direction:column;}
.modal-container.non-scroll .modal-contents > * {flex:0 0 auto;}
.modal-container.non-scroll .modal-contents > .scroll {overflow:auto; flex:1 1 auto; -webkit-overflow-scrolling: touch;}
*/
/* btn-top */
.btn-top {z-index:29000; position:fixed; right:20px; bottom:20px; display:block; visibility:hidden; overflow:hidden; width:40px; height:40px; opacity:0; text-indent:-9999px; border-radius:100%; background:url(/resources/images/btn-top.svg) no-repeat; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.1);}
.btn-top.active {visibility:visible;}


