@charset "UTF-8";
.page-title {
    display: block;
    font-size: 40px;
    letter-spacing: 0.5px;
    line-height: 48px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
}
.form-title {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    color: #000;
    line-height: 27px;
    font-weight: bold;
}
.title-wrap {
    display: flex;
    align-items: center;
    margin-top: 62px;
}
.title-wrap .form-title {
    margin-top: 0;
}
[class^='btn-file'] {
    display: inline-flex;
    align-content: center;
    margin-left: auto;
    padding: 8px 0;
    font-size: 12px;
    color: #fa5400;
    font-weight: bold;
}
[class^='btn-file'] span {
    display: block;
    line-height: 20px;
}
[class^='btn-file'] .icon-add {
    display: block;
    width: 20px;
    height: 20px;
    background: url('../images/svg/icon-file-add.svg') center no-repeat;
}
.btn-file-full {
    width: 100%;
    justify-content: center;
    height: 40px;
    border-radius: 0;
    border: 1px solid #fa5400;
}
.btn-area {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.btn-area-file {
    margin-top: 15px;
    padding: 0 20px;
}
[class^='btn-d'] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 120px;
    height: 40px;
    padding: 0 20px;
    border: 1px solid #000;
    border-radius: 0;
    font-size: 12px;
    font-weight: bold;
    color: #000;
}
[class^='btn-r'] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 120px;
    height: 40px;
    padding: 0 20px;
    border: 1px solid #000;
    border-radius: 2;
    font-size: 12px;
    font-weight: bold;
    color: #000;
}
[class^='btn-'] span {
    position: relative;
}
[class^='btn-'] + [class^='btn-'] {
    margin-left: 10px;
}
[class^='btn-'][class*='-sm'] {
    min-width: 100px;
    height: 30px;
}
[class^='btn-r'][class*='-sm'] {
    color: #555;
}
[class^='btn-'][class*='-black'] {
    background: #000;
    color: #fff;
}
[class^='btn-'][class*='-gray'] {
    border-color: #555;
    background: #555;
    color: #fff;
}

.checkbox {
    z-index: 3;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.checkbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.checkbox span {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/svg/icon-checkbox-off.svg') no-repeat center;
}
.checkbox input:checked + span {
    background-image: url('../images/svg/icon-checkbox-on.svg');
}
